<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewsManager</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/momentjs/2.10.3/min/moment-with-locales.min.js}"></script>
    <link rel="stylesheet" type="text/css"  th:href="@{/js/bootstrap-table-master/dist/bootstrap-table.min.css}">  
	<script type="text/javascript" th:src="@{/js/bootstrap-table-master/dist/bootstrap-table.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap-table-master/dist/locale/bootstrap-table-zh-CN.min.js}"></script>
	
   <style>	
	table{ 
    word-wrap:break-word;
    word-break:break-all;
    }
/* 	.uu_style{ */
/* 		display:none; */
/* 	}	 */
    </style>
</head>

<body>

	<section class="content table-content">		
		<div class = "container">
			<table id="requestAuditGrid"></table>
		</div>
	</section>
		
	<!-- 提示信息 -->
	<div class="modal fade" id="Tip" role="dialog">

		<div class="modal-dialog" role="document">

			<div class="modal-content">

				<div class="modal-header">
					<h3>提示</h3>
				</div>

				<div class="modal-body" align="center">
					<h4 id="tipContent">新增成功</h4>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
				</div>

			</div>

		</div>

	</div>
	
	<!-- 确认提币请求 -->
    <div class="modal fade" id="agreeModal" tabindex="-1" role="dialog">

        <div class="modal-dialog" role="document">

			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title" id="myModalLabel">确认信息</h3>			
				</div>

				<div class="modal-body">
				
					<form id="updateActivityRewardForm" action="/updatedActivityReward" method="post" class="form-horizontal">						
						<input  style="display:none" type="hidden" name="uuid" id="uuid">
						<input  style="display:none" type="hidden" name="status" id="status">
						
						<div class="form-group">
							<label for="ErewardName" id="withdrawMoney" style="font-size:16px;" class="col-sm-8 control-label">确认批准提币请求吗？</label>													
						</div>
					</form>
				</div>

				<div class="modal-footer">
					<button type="button" data-dismiss="modal" id="saveVersion" aria-label="Close" class="btn btn-default" onclick="audit()"><span aria-hidden="true">确认</span></button>
					<button type="button" data-dismiss="modal" id="saveVersion" aria-label="Close" class="btn btn-default" onclick="refresh()"><span aria-hidden="true">取消</span></button>
				</div>						
			</div>					
		</div>
	</div>	 
	
	<!-- 查看用户信息的模态框 -->
    <div class="modal fade" id="queryModal" tabindex="-1" role="dialog">

        <div class="modal-dialog" role="document">

			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title" id="myModalLabel">用户信息</h3>			
				</div>

				<div class="modal-body">
					<form id="updateNewsForm" action="/news/updatedNews" method="post" class="form-horizontal">
						<div class="form-group">
							<label for="newsTitle" class="col-sm-3 control-label">用户名：</label>
							<div class="col-sm-7">
								<input name="Qname" class="form-control" id="Qname" readonly="readonly" required="required"/>
							</div>						
						</div>

						<div class="form-group">
							<label for="newsTitle" class="col-sm-3 control-label">昵称：</label>
							<div class="col-sm-7">
								<input name="Qnickname" class="form-control" id="Qnickname" readonly="readonly" required="required"/>
							</div>						
						</div>
						<div class="form-group">
							<label for="newsTitle" class="col-sm-3 control-label">性别：</label>
							<div class="col-sm-7">
								<input name="Qgender" class="form-control" id="Qgender" readonly="readonly" required="required"/>
							</div>						
						</div>

						<div class="form-group">
							<label for="newsTitle" class="col-sm-3 control-label">生日：</label>
							<div class="col-sm-7">
								<input name="Qbirthday" class="form-control" id="Qbirthday" readonly="readonly" required="required"/>
							</div>						
						</div>
						<div class="form-group">
							<label for="newsTitle" class="col-sm-3 control-label">手机：</label>
							<div class="col-sm-7">
								<input name="Qmobile" class="form-control" id="Qmobile" readonly="readonly" required="required"/>
							</div>						
						</div>
						<div class="form-group">
							<label for="newsTitle" class="col-sm-3 control-label">邮箱：</label>
							<div class="col-sm-7">
								<input name="Qemail" class="form-control" id="Qemail" readonly="readonly" required="required"/>
							</div>						
						</div>
						<div class="form-group">
							<label for="newsTitle" class="col-sm-3 control-label">地址：</label>
							<div class="col-sm-7">
								<input name="Qaddress" class="form-control" id="Qaddress" readonly="readonly" required="required"/>
							</div>						
						</div>
						
						<div class="form-group">
							<label for="newsTitle" class="col-sm-3 control-label">邀请码：</label>
							<div class="col-sm-7">
								<input name="QinviteCode" class="form-control" id="QinviteCode" readonly="readonly" required="required"/>
							</div>						
						</div>		
																									
					</form>
				</div>					
			</div>					
		</div>
	</div>
	
	<script type="text/javascript" th:src="@{/js/withdrawMoney/withdrawMoney.js}"></script>
	<script type="text/javascript" th:src="@{/js/withdrawMoney/withdrawMoneyTable.js}"></script>
</body>

</html>

