<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewsManager</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/momentjs/2.10.3/min/moment-with-locales.min.js}"></script>
    <link rel="stylesheet" type="text/css"  th:href="@{/js/bootstrap-table-master/dist/bootstrap-table.min.css}">  
    <script type="text/javascript" th:src="@{/js/bootstrap-table-master/dist/bootstrap-table.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/wallet/eneryWallet.js}"></script>
	<script type="text/javascript" th:src="@{/js/wallet/eneryWalletTable.js}"></script>
	<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>		
   
   
   <style>
	.input-group .datetimepicker{
	z-index:100000;
	}
	.form-group span.required {
	color: red;
	font-size: 150%;
	} 
	
	table{ 
    word-wrap:break-word;
    word-break:break-all;
	}
	label{ 
    vertical-align:middle;
	}	
    </style>
</head>

<body>

	<div class="row content-tabs">
		<nav class="page-tabs menuTabs">

			<div class="page-tabs-content">			
				<a href="javascript:;" class="active menuTab" onclick="display1()"id="btn1">交易记录</a>
			</div>
			<div class="page-tabs-content">
				<a href="javascript:;" class="active1 menuTab" onclick="display2()"id="btn2">资金流入</a>
			</div>
				<!-- <div class="page-tabs-content">			
				<a href="javascript:;" class="active menuTab" onclick="display3()"id="btn3">资金流出</a>
			</div>
			<div class="page-tabs-content">
				<a href="javascript:;" class="active1 menuTab" onclick="display4()"id="btn4">资金大户</a>
			</div>			 -->
				
		</nav>	
	</div> 


	<div class = "container" id="page1">
			<table id="eneryWalletGrid"></table>
	</div> 
	
	<div class = "container" style="display:none" id="page2">
			123456
	</div>

</body>
</html>

