<!DOCTYPE html>
<html lang=en>
    <head>
<meta charset="utf-8">
<title></title>
 <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
 <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<!--   <link href="../static/css/weui/style/weui.css" rel="stylesheet"> -->
<!--   <link href="../static/css/weui/style/weui2.css" rel="stylesheet"> -->
<!--   <link href="../static/css/weui/style/weui3.css" rel="stylesheet"> -->
<!--   <script src="../static/css/weui/zepto.min.js"></script> -->
         
      <style type="text/css"> 
   .col-center-block {
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
      </style>
</head>
<body style="background-color: #f8f8f8;" ontouchstart="">
<div class="container">

		<!--    <div class="row myCenter">  -->

		<div class=" col-sm-7 col-center-block">
			<h4 class="text-center" id="labelContent">OasDapp微信公众平台</h4>

			<!--       <form class="form-signin"> -->
			<form id="findPasswordForm" action="/user/findPassWord" method="post"
				class="form-horizontal">

				<div class="form-group">
					<label for="userName" class="col-sm-4 control-label">请输入OasDapp账号:</label>
					<div class="col-sm-5">
						<input class="form-control" type="text" value="" id='name' placeholder="请输入OasDapp账号"/>

					</div>
				</div>
                        
 						<div class="form-group">
							<label for="newsTitle" class="col-sm-4 control-label">验证信息：</label>
							<div class="col-sm-5">
								  <textarea class="form-control" readonly="readonly"  id="display"></textarea>
								<span id='msg_newsTitle'></span>
							</div>						
						</div>
						<div class="form-group">
					<label for="identify" class="col-sm-3 control-label"></label>
					<div class="col-sm-5">

						<button class="btn btn-warning   btn-block " id="identifyNext"
							type="button" onclick="getIdentifyCode2()">获取验证码</button>
					</div>
				</div>
					</form> 
					</div>
					</div>    
</body>
<script>   
     function getIdentifyCode(){
         data={
        	 "name":$("#name").val()
         };
 		$.ajax({
 			type: 'post',
//  			url:"https://api.weixin.qq.com/sns/jscode2session?appid="
//  		        +"wx03476a8dd19b6933"+"&secret="+"ebe2a284c93ddaa5fb37b5d4db94ddf9"+"&js_code="+code+"&grant_type=authorization_code";
 			url: '/api/v1/miniProgram/messageHandle',
 			data: JSON.stringify(data),
 			contentType : 'application/json;charset=utf8',
 			dataType: 'json',
 			cache: false,
 			success: function (res) {
 			        var responseContet=res.data.responseContent;
 			         $("#display").html(responseContet); 
 			},
 			error: function (res){
 			        alert(JSON.stringify(res.message));
 			}           
         });
     } 
     
     function getIdentifyCode2(){
    	 window.location.href = "https://open.weixin.qq.com/connect/oauth2/authorize?appid="+"wx03476a8dd19b6933"+
    			 "&redirect_uri="+"lvjisheng.oicp.io"+"&response_type=code&scope=snsapi_base&state=STATE#wechat_redirect";
     }
    </script>
</html>
