<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>曲线显示</title>
        <style>
/*             .highcharts-axis-resizer {
    stroke: #eee;
}
.highcharts-axis-resizer:hover {
    stroke: #ccc;
} */
        </style>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
         <!--<link rel="stylesheet" type="text/css" th:href="@{/webjars/highcharts/6.2.0/css/highstock.css}"/>-->
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/highstock/6.0.3/css/highcharts.css}"/> 
        <!-- 全局js -->
        <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
        
        <script th:src="@{/webjars/highstock/6.0.3/js/highstock.js}"></script>
        <script th:src="@{/webjars/highcharts/6.2.0/js/highcharts.js}"></script>
        <script th:src="@{/js/wbsocket.js}"></script>
        <script th:src="@{/js/curve/curve.js}"></script>
    </head>
    <body>
        <div id="container" style="min-width:400px;height:400px"></div>
        <div id="container1" style="min-width:400px;height:400px"></div>
        <button type=button id="donymicLine" onclick="dynamicCurve()">切换</button>
        <div id="container2" style="min-width:400px;height:400px"></div>
        <button type=button id="realTimeLine" onclick="realTimeCurve()">播放</button>
    </body>
</html>