<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Main Page</title>
    <style>
    .QQQ{
    }
    </style>
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script type="text/javascript">
      function gotoWbTest(){
    	  window.location.replace("wbTest");
      }
    </script>
</head>
<body>
<div class="QQQ">
<ol>
<li><a href="table">表格</a></li>

<li><a href="line">曲线</a></li>
<li><a href="canvas">图片</a></li>
<li><a href="video">视频</a></li>
<li><span onclick="gotoWbTest()">推送测试</span></li>
<li><a href="maps/maps">多图联动</a></li>
<li><a href="activitiDemo">activitiDemo</a></li>
<!-- <li><a href="maps/gantt">甘特图拖拽</a></li> -->
</ol>
</div>
</body>
</html>