<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"> 
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userAccount</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/momentjs/2.10.3/min/moment-with-locales.min.js}"></script>
    <link rel="stylesheet" type="text/css"  th:href="@{/js/bootstrap-table-master/dist/bootstrap-table.min.css}">  
	<script type="text/javascript" th:src="@{/js/bootstrap-table-master/dist/bootstrap-table.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap-table-master/dist/locale/bootstrap-table-zh-CN.min.js}"></script>
	<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>	 
    
   <style>
	.form-group span.required {
	color: red;
	font-size: 150%;
	} 
	
	table{ 
    word-wrap:break-word;
    word-break:break-all;
	}
	.content-tabs {
    border-bottom: solid 1px #d8dbde;
	}	
	 .form{
    width: 20.33333333%;
	margin-bottom:13px;
	margin-top:13px;
	height: 35px;
	float:right;
   }
   .input-group	{ 
    vertical-align:middle;
	margin-top:11px;
	}
	
    </style>
</head>

<body>

	<div class="row content-tabs">
		<nav class="page-tabs menuTabs"> 

			<div class="page-tabs-content">			
				<a href="javascript:;" class="active menuTab" onclick="display1()"id="btn1">正常账号</a>
			</div>
			<div class="page-tabs-content">			
				<a href="javascript:;" class="active1 menuTab" onclick="display3()"id="btn3">测试账号</a>
			</div>
			<div class="page-tabs-content">
				<a href="javascript:;" class="active1 menuTab" onclick="display4()"id="btn4">系统账号</a>
			</div>			
				
		</nav>	
	</div> 

	<div id="page1">
		<input class="form" id="user1" required="required" placeholder="搜索" oninput="initNormalGrid(event)"/>
		<table id="normalGrid"></table>
	</div> 
	

	<div style="display:none" id="page3">
		<input class="form" id="user2" required="required" placeholder="搜索" oninput="initTestGrid(event)"/>		 		  
		<table id="testGrid"></table>
	</div>

	<div style="display:none" id="page4">
		<input class="form" id="user3" required="required" placeholder="搜索" oninput="initSystemGrid(event)"/>			
		<table id="systemGrid"></table>
	</div>

		
	<!-- 提示信息 -->
	<div class="modal fade" id="Tip" role="dialog">

		<div class="modal-dialog" role="document">

			<div class="modal-content">

				<div class="modal-header">
					<h3>提示</h3>
				</div>

				<div class="modal-body" align="center">
					<h4 id="tipContent">新增成功</h4>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
				</div>

			</div>

		</div>

	</div>
	
	<!-- 重置IMEI -->
    <div class="modal fade" id="IMEIModal" tabindex="-1" role="dialog">

        <div class="modal-dialog" role="document">

			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title" id="myModalLabel">确认信息</h3>			
				</div>

				<div class="modal-body">
				
					<form id="IMEIForm" action="/IMEI" method="post" class="form-horizontal">						
						<input style="display:none" type="hidden"  name="name" id="name">
						<input style="display:none" type="hidden" name="roleId3" id="roleId3">
						
<!-- 							style="display:none" type="hidden" -->

						<div class="form-group">
							<label for="confirm" id="confirm" style="font-size:16px;" class="col-sm-8 control-label">确认重置IMEI吗？</label>													
						</div>
					</form>
				</div>

				<div class="modal-footer">
					<button type="button" data-dismiss="modal" id="saveVersion" aria-label="Close" class="btn btn-default" onclick="Confirm()"><span aria-hidden="true">确认</span></button>
					<button type="button" data-dismiss="modal" id="saveVersion" aria-label="Close" class="btn btn-default" onclick="resetIMEIModal()"><span aria-hidden="true">取消</span></button>
				</div>						
			</div>					
		</div>
	</div>	 
	
	<!-- 角色授权 -->
    <div class="modal fade" id="roleModal" tabindex="-1" role="dialog">

        <div class="modal-dialog" role="document">

			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title" id="myModalLabel">角色授权</h3>			
				</div>

				<div class="modal-body">
				
					<form id="roleForm" action="/IMEI" method="post" class="form-horizontal">						
						<input style="display:none" type="hidden"  name="roleName" id="roleName">
						<input style="display:none" type="hidden" name="roleId" id="roleId">
						<input style="display:none" type="hidden" name="roleId1" id="roleId1">
						
<!-- 							style="display:none" type="hidden" -->

							<label for="A1" class="col-sm-4 control-label"> 
								<input type="radio" name="radio1" id="A1"  value="2"> 正常账号
							</label>
												
							<label for="B1" class="col-sm-4 control-label">
								<input type="radio" name="radio1" id="B1"  value="3"> 测试账号 
							</label>
												
<!-- 							<label for="system" class="col-sm-3 control-label"> -->
<!-- 								<input type="radio" name="radio1" id="C1"  value="1"> 系统账号 -->
<!-- 							</label> -->
												
					</br>	
					</form>
				</div>

				<div class="modal-footer">
					<button type="button" data-dismiss="modal" id="saveVersion" aria-label="Close" class="btn btn-default" onclick="roleConfirm()"><span aria-hidden="true">确认</span></button>
					<button type="button" data-dismiss="modal" id="saveVersion" aria-label="Close" class="btn btn-default" onclick="resetRoleModal()"><span aria-hidden="true">取消</span></button>
				</div>						
			</div>					
		</div>
	</div>	 
	
	<!-- 切换账号状态 -->
    <div class="modal fade" id="controlModal" tabindex="-1" role="dialog">

        <div class="modal-dialog" role="document">

			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title" id="myModalLabel">切换账号状态</h3>			
				</div>

				<div class="modal-body">
				
					<form id="activeForm" action="active" method="post" class="form-horizontal">						
						<input style="display:none" type="hidden"  name="controlName" id="controlName">
						<input style="display:none" type="hidden" name="status" id="status">
						<input style="display:none" type="hidden" name="roleId2" id="roleId2">
						
<!-- 							style="display:none" type="hidden" -->

							<label for="C1" class="col-sm-4 control-label">
								<input type="radio" name="radio2" id="C1"  value="1"> 激活
							</label>

							<label for="D1" class="col-sm-4 control-label">
								<input type="radio" name="radio2" id="D1"  value="0"> 禁用
							</label>													
												
					</br>												
						
					</form>
				</div>

				<div class="modal-footer">
					<button type="button" data-dismiss="modal" id="saveVersion" aria-label="Close" class="btn btn-default" onclick="changeStatus()"><span aria-hidden="true">确认</span></button>
					<button type="button" data-dismiss="modal" id="saveVersion" aria-label="Close" class="btn btn-default" onclick="resetControlModal()"><span aria-hidden="true">取消</span></button>
				</div>						
			</div>					
		</div>
	</div>	 
	
	<!-- 查看用户详细信息的模态框 -->
    <div class="modal fade" id="queryModal" tabindex="-1" role="dialog">

        <div class="modal-dialog" role="document">

			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title" id="myModalLabel">用户详细信息</h3>			
				</div>

				<div class="modal-body">
					<form id="updateNewsForm" action="/news/updatedNews" method="post" class="form-horizontal">
					
						<div class="form-group">
							<label for="newsTitle" class="col-sm-3 control-label">用户名：</label>
							<div class="col-sm-7">
								<input name="Qname" class="form-control" id="Qname" readonly="readonly" required="required"/>
							</div>						
						</div>

						<div class="form-group">
							<label for="newsTitle" class="col-sm-3 control-label">昵称：</label>
							<div class="col-sm-7">
								<input name="Qnickname" class="form-control" id="Qnickname" readonly="readonly" required="required"/>
							</div>						
						</div>
						<div class="form-group">
							<label for="newsTitle" class="col-sm-3 control-label">性别：</label>
							<div class="col-sm-7">
								<input name="Qgender" class="form-control" id="Qgender" readonly="readonly" required="required"/>
							</div>						
						</div>

						<div class="form-group">
							<label for="newsTitle" class="col-sm-3 control-label">生日：</label>
							<div class="col-sm-7">
								<input name="Qbirthday" class="form-control" id="Qbirthday" readonly="readonly" required="required"/>
							</div>						
						</div>
						<div class="form-group">
							<label for="newsTitle" class="col-sm-3 control-label">手机：</label>
							<div class="col-sm-7">
								<input name="Qmobile" class="form-control" id="Qmobile" readonly="readonly" required="required"/>
							</div>						
						</div>
						<div class="form-group">
							<label for="newsTitle" class="col-sm-3 control-label">邮箱：</label>
							<div class="col-sm-7">
								<input name="Qemail" class="form-control" id="Qemail" readonly="readonly" required="required"/>
							</div>						
						</div>
						<div class="form-group">
							<label for="newsTitle" class="col-sm-3 control-label">地址：</label>
							<div class="col-sm-7">
								<input name="Qaddress" class="form-control" id="Qaddress" readonly="readonly" required="required"/>
							</div>						
						</div>
						
						<div class="form-group">
							<label for="newsTitle" class="col-sm-3 control-label">邀请码：</label>
							<div class="col-sm-7">
								<input name="QinviteCode" class="form-control" id="QinviteCode" readonly="readonly" required="required"/>
							</div>						
						</div>		
						
						<div class="form-group">
							<label for="newsTitle" class="col-sm-3 control-label">KYC认证状态：</label>
							<div class="col-sm-7">
								<input name="QverifyStatus" class="form-control" id="QverifyStatus" readonly="readonly" required="required"/>
							</div>						
						</div>

						<div class="form-group" id="userIdentityName1">
							<label for="newsTitle" class="col-sm-3 control-label">姓名：</label>
							<div class="col-sm-7">
								<input name="QuserIdentityName" class="form-control" id="QuserIdentityName" readonly="readonly" required="required"/>
							</div>						
						</div>
						<div class="form-group" id="userIdentityNumber1">
							<label for="newsTitle" class="col-sm-3 control-label">身份证号：</label>
							<div class="col-sm-7">
								<input name="QuserIdentityNumber" class="form-control" id="QuserIdentityNumber" readonly="readonly" required="required"/>
							</div>						
						</div>

						<div class="form-group" id="remark1">
							<label for="newsTitle" class="col-sm-3 control-label">批注：</label>
							<div class="col-sm-7">
								<input name="Qremark" class="form-control" id="Qremark" readonly="readonly" required="required"/>
							</div>						
						</div>
<!-- 						<div class="form-group"> -->
<!-- 							<label for="newsTitle" class="col-sm-3 control-label">IMEI：</label> -->
<!-- 							<div class="col-sm-7"> -->
<!-- 								<input name="IMEI" class="form-control" id="IMEI" readonly="readonly" required="required"/> -->
<!-- 							</div>						 -->
<!-- 						</div> -->
																									
					</form>
				</div>					
			</div>					
		</div>
	</div>
	
	<script type="text/javascript" th:src="@{/js/userAccount/userAccount.js}"></script>
	<script type="text/javascript" th:src="@{/js/userAccount/userAccountTable.js}"></script>			
</body>
</html>

