<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VersionManage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/momentjs/2.10.3/min/moment-with-locales.min.js}"></script>
    <link rel="stylesheet" type="text/css"  th:href="@{js/bootstrap-table-master/dist/bootstrap-table.min.css}">  
    <script type="text/javascript" th:src="@{js/bootstrap-table-master/dist/bootstrap-table.min.js}"></script>
	 <script type="text/javascript" th:src="@{js/bootstrap-table-master/dist/locale/bootstrap-table-zh-CN.min.js}"></script>
	<script type="text/javascript" th:src="@{js/versionManage/versionManage.js}"></script>
	<script type="text/javascript" src="/js/qrcode/jquery.qrcode.js" ></script>
<!--  	<script type="text/javascript" src="/js/qrcode/qrcode.js" ></script>  -->
    <script type="text/javascript" src="/js/qrcode/utf.js" ></script>

    
   
   <style>
	.input-group .datetimepicker{
	z-index:100000;
	}
	.form-group span.required {
	color: red;
	font-size: 150%;
	} 
	
	table{ 
    word-wrap:break-word;
    word-break:break-all;
    }
 /*  二维码弹框    */
  #qrcode img {  
      position: absolute;  
      top: 25%;   
     left: 35%;   
      width: 350px;  
      height: 350px;  
      display: block;  
  }  
 #qrcode { 
    position: fixed; 
     top: 0; 
    left: 0; 
     width: 100%; 
    height: 100%; 
     background: rgba(255, 255, 255, 0.6); 
     z-index: 9999; 
     display: none; 
 } 	 
    </style>
</head>

<body>

	<section class="content table-content">

		<form class="form-inline" >
			<!-- 工具栏 -->
			<div id="toolbar">

					<input type="button" value="版本新增" style="background-color: #293846;width: 76px;height: 38px;outline:none;border:none;color: #ecf9ff" id="addBtn"  onclick="showVersionModal()"></input>
<!-- 					<input type="button" value="批量删除" id="deleteBtn" data-toggle="modal" data-target="#deleteNewsModal" class="btn btn-primary" onclick="deleteNews()"></input> -->
			</div>
		</form>
		
		<div class = "container">
			<table id="versionGrid"></table>
		</div>

	</section>
<div id="qrcode">
<!--         <div id="qrcodeCanvas"></div> -->
<!--         <img id="image" width="100%" height="100%" > -->
    </div>
	<!-- 新增版本的模态框-->

	<div class="modal fade" id="addVersionModal" tabindex="-1" role="dialog">

		<div class="modal-dialog" role="document">

			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title" id="myModalLabel">版本新增</h3>
				</div>

				<div class="modal-body">
				

					<form id="addVersionForm" action="/version" method="post" class="form-horizontal">

						<div class="form-group">
							<label for="versionCode" class="col-sm-3 control-label">版本号：</label>
							<div class="col-sm-8">
								<input name="versionCode" class="form-control" id="versionCode" required="required" oninput="checkVersionCode()" maxlength="30" placeholder="版本号长度最多为30个字符" /></input>
								<span id='msg_versionCode'></span>

							</div>						
						</div>
					
								
							<div class="form-group">
					        	<label for="versionStatus" class="col-sm-3 control-label">版本状态：</label>
					       		 <div class="col-sm-8">
			
								 <label class="radio-inline control-label">
						        	<input type="radio"  name="versionStatus" id="versionStatus1" readonly="readonly" value="开发版"> 开发版
						        </label>
<!-- 							    <label class="radio-inline control-label"> -->
<!-- 							        <input type="radio"   name="versionStatus" id="versionStatus2" value="体验版" > 开发版 -->
<!-- 							    </label> -->
<!-- 							    <label class="radio-inline control-label"> -->
<!-- 							        <input type="radio"   name="versionStatus" id="versionStatus3" value="稳定版" /> 稳定版 -->
							   
<!-- 							    </label> -->
							    
						       </div>	
						      			
						   </div>		
						
						<div class="form-group">
							<label for="versionFile" class="col-sm-3 control-label">版本上传：</label>
							<div class="col-sm-8">
								<input type="file" name="versionFile" id="versionFile" /><span id='msg_versionFile'></span>
							</div>
<!-- 							onblur='checkVersionFile()' -->
						</div>
						
					
					</form>
				</div>

				<div class="modal-footer">
					<button type="button" id="conf" class="btn btn-default" onclick="addVersion()">提交</button>
					<button type="button" class="btn btn-default" data-dismiss="modal" onclick="resetAddModal()">取消</button>
				</div>

			</div>
		</div>
	</div>
		
	<!-- 提示信息 -->
	<div class="modal fade" id="Tip" role="dialog">

		<div class="modal-dialog modal-sm"  role="document">

			<div class="modal-content">

				<div class="modal-header">
					<h3>提示</h3>
				</div>

				<div class="modal-body" align="center">
					<h4 id="tipContent">新增成功</h4>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
				</div>

			</div>

		</div>

	</div>
			
		
	<!-- 编辑新闻的模态框 -->
    <div class="modal fade" id="updateVersionModal" tabindex="-1" role="dialog">

        <div class="modal-dialog" role="document">

			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title" id="myModalLabel">版本修改</h3>			
				</div>

				<div class="modal-body">
				
					<form id="updateVersionForm" action="/updatedVersion" method="post" class="form-horizontal">
						<input  style="display:none" type="hidden" name="EversionId" id="EversionId">
						
						<div class="form-group">
							<label for="EversionCode" class="col-sm-3 control-label">版本号：</label>
							<div class="col-sm-8">
								<input name="EversionCode" class="form-control" id="EversionCode" readonly="readonly" required="required"  placeholder="版本号长度最多为30个字符" /></input>
								

							</div>						
						</div>
					<div class="form-group">
					        	<label for="EnowVersionStatus" class="col-sm-3 control-label">当前版本状态：</label>
					       		 <div class="col-sm-8">
								 
						        	<input name="EnowVersionStatus" class="form-control" id="EnowVersionStatus" readonly="readonly" required="required"  placeholder="版本号长度最多为30个字符" /></input>
						        

							    
						       </div>	
						      			
						   </div>	
								
							<div class="form-group">
					        	<label for="EversionStatus" class="col-sm-3 control-label">升级版本状态：</label>
					       		 <div class="col-sm-8">
								 <label class="radio-inline control-label">
						        	<input type="radio"  name="EversionStatus" id="EversionStatus2" value="体验版"> 体验版
						        </label>
<!-- 							    <label class="radio-inline control-label"> -->
<!-- 							        <input type="radio"   name="EversionStatus" id="EversionStatus2" value="开发版" > 开发版 -->
<!-- 							    </label> -->
							    <label class="radio-inline control-label">
							        <input type="radio"   name="EversionStatus" id="EversionStatus3" value="稳定版" /> 稳定版
							   
							    </label>
							    
						       </div>	
						      			
						   </div>	
						   <div class="form-group">
							<label for="newsTitle" class="col-sm-3 control-label">版本存放URL：</label>
							<div class="col-sm-8">
								<textarea name="EversionPath" class="form-control" id="EversionPath" required="required"  readonly="readonly"/></textarea>							
								
							</div>
						</div>	
						
<!-- 						<div class="form-group"> -->
<!-- 							<label for="EversionFile" class="col-sm-3 control-label">版本修改：</label> -->
<!-- 							<div class="col-sm-8"> -->
<!-- 								<input type="file" name="EversionFile" id="EversionFile" onblur="checkEversionFile()" /><span id='msg_EversionFile'></span> -->
<!-- 							</div> -->

<!-- 						</div> -->
						
						
						
																			
					</form>
				</div>

				<div class="modal-footer">
<!-- 					<button type="button" data-dismiss="modal" id="saveVersion" aria-label="Close" class="btn btn-default" onclick="updateVersion()"><span aria-hidden="true">保存</span></button> -->
					<button type="button" class="btn btn-default"  onclick="updateVersion()">确定</button>
					<button type="button" class="btn btn-default" data-dismiss="modal" onclick="resteUpdate()">取消</button>
				</div>
						
			</div>
					
		</div>
	</div>
	
</body>

</html>

