<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cascv.oas.server.activity.mapper.ActivityMapper">

  <resultMap id="activityMap" type="com.cascv.oas.server.activity.model.ActivityModel">
	<id column="source_code" property="sourceCode" />
	<result column="source_name" property="sourceName"/>
	<result column="type" property="type"/>
	<result column="point_single" property="pointSingle"/>
	<result column="power_single" property="powerSingle"/>
  	<result column="point_increase_speed" property="pointIncreaseSpeed"/>
  	<result column="power_increase_speed" property="powerIncreaseSpeed"/>
  	<result column="point_increase_speed_unit" property="pointIncreaseSpeedUnit"/>
  	<result column="power_increase_speed_unit" property="powerIncreaseSpeedUnit"/>
  	<result column="point_capacity_each_ball" property="pointCapacityEachBall"/>
  	<result column="power_capacity_each_ball" property="powerCapacityEachBall"/>
  	<result column="created" property="created"/>
  	<result column="updated" property="updated"/>
  </resultMap>
 
  <sql id="Base_Column_List">
  		source_code, source_name, type, point_single, power_single, point_increase_speed, power_increase_speed,
    	point_increase_speed_unit, power_increase_speed_unit, 
    	point_capacity_each_ball, power_capacity_each_ball,
    	created, updated
  </sql>
  
  <!-- insert activity -->
  <insert id="insertActivity" parameterType="com.cascv.oas.server.activity.model.ActivityModel">
    <selectKey keyProperty="sourceCode" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into activity_source
    <trim prefix="(" suffix=")" suffixOverrides=",">
      source_name, type,
      point_single, power_single,
      point_increase_speed, power_increase_speed,      
      <if test="pointIncreaseSpeedUnit != null">
        point_increase_speed_unit,
      </if>
      <if test="powerIncreaseSpeedUnit != null">
        power_increase_speed_unit,
      </if>
      point_capacity_each_ball, power_capacity_each_ball,
      <if test="created != null">
        created,
      </if>
       <if test="updated != null">
        updated
      </if>      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        #{sourceName,jdbcType=VARCHAR}, 
        #{type,jdbcType=VARCHAR},
        #{pointSingle,jdbcType=DECIMAL},
        #{powerSingle,jdbcType=DECIMAL},
        #{pointIncreaseSpeed,jdbcType=DECIMAL},
        #{powerIncreaseSpeed,jdbcType=DECIMAL},
        
        <if test="pointIncreaseSpeedUnit != null">
           #{pointIncreaseSpeedUnit,jdbcType=VARCHAR},
        </if>
        <if test="powerIncreaseSpeedUnit != null">
           #{powerIncreaseSpeedUnit,jdbcType=VARCHAR},
        </if>
        
        #{pointCapacityEachBall,jdbcType=DECIMAL},
        #{powerCapacityEachBall,jdbcType=DECIMAL},
      
		<if test="created != null">
	       #{created,jdbcType=VARCHAR},
	    </if>
	    <if test="updated != null">
	       #{updated,jdbcType=VARCHAR},
	    </if>
    </trim>
   </insert>
   
  <!-- select all activity -->
  <select id="selectAllActivity" resultMap="activityMap">
      select 
      <include refid="Base_Column_List" />
      from activity_source;
  </select> 
  
  <!-- select activity capacity_each_ball -->
  <select id="selectActivityBySourceCode" resultMap="activityMap">
      select 
      <include refid="Base_Column_List" />
      from activity_source where source_code = #{sourceCode};
  </select> 
  
  <!-- update activity -->
  <update id="updateActivity" parameterType="com.cascv.oas.server.activity.model.ActivityModel">
      update activity_source
      set
          source_name = #{sourceName},
          type = #{type},
          point_single = #{pointSingle},
          power_single = #{powerSingle},
          point_increase_speed = #{pointIncreaseSpeed},
          power_increase_speed = #{powerIncreaseSpeed},
          point_increase_speed_unit = #{pointIncreaseSpeedUnit},
          power_increase_speed_unit = #{powerIncreaseSpeedUnit},
          point_capacity_each_ball = #{pointCapacityEachBall},
          power_capacity_each_ball = #{powerCapacityEachBall},
          updated = #{updated}
       where source_code = #{sourceCode}
          
  </update>
  
  <resultMap id="EnergyBall" type="com.cascv.oas.server.energy.model.EnergyBall">
        <id column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="user_uuid" jdbcType="VARCHAR" property="userUuid" />
        <result column="point_source" jdbcType="INTEGER" property="pointSource" />
        <result column="point" jdbcType="DECIMAL" property="point"/>
        <result column="power_source" jdbcType="INTEGER" property="powerSource"/>
        <result column="power" jdbcType="DECIMAL" property="power"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="time_created" jdbcType="VARCHAR" property="timeCreated"/>
        <result column="time_updated" jdbcType="VARCHAR" property="timeUpdated"/>
    </resultMap>
    
  <!-- 插入能量球 -->
    <insert id="insertEnergyBall" parameterType="com.cascv.oas.server.energy.model.EnergyBall">
        insert into energy_ball (
        uuid, user_uuid, point_source, point, power_source, power, status, time_created, time_updated)
        values (
        #{uuid}, #{userUuid}, #{pointSource}, #{point}, #{powerSource}, #{power},
        #{status}, #{timeCreated}, #{timeUpdated})
    </insert>
    
    <resultMap id="EnergyTradeRecord" type="com.cascv.oas.server.energy.model.EnergyTradeRecord">
        <id column="uuid" jdbcType="VARCHAR" property="uuid" />
        <result column="user_uuid" jdbcType="VARCHAR" property="userUuid" />
        <result column="energy_ball_uuid" jdbcType="VARCHAR" property="energyBallUuid" />
        <result column="in_or_out" javaType="INTEGER" property="inOrOut" />
        <result column="point_change" jdbcType="DECIMAL" property="pointChange"/>
        <result column="power_change" jdbcType="DECIMAL" property="powerChange"/>
        <result column="status" javaType="INTEGER" property="status" />
        <result column="time_created" jdbcType="VARCHAR" property="timeCreated"/>
        <result column="time_updated" jdbcType="VARCHAR" property="timeUpdated"/>
    </resultMap>

    <!-- 插入记录 -->
    <insert id="insertEnergyTradeRecord" parameterType="com.cascv.oas.server.energy.model.EnergyTradeRecord">
        insert into energy_trade_record (
        uuid, user_uuid, energy_ball_uuid, in_or_out, point_change, power_change, status, time_created, time_updated)
        values (
        #{uuid}, #{userUuid}, #{energyBallUuid}, #{inOrOut}, #{pointChange}, #{powerChange},
        #{status}, #{timeCreated}, #{timeUpdated})
    </insert>
    
    <resultMap id="EnergyWall" type="com.cascv.oas.server.energy.model.EnergyWallet">
        <id column="uuid" property="uuid"/>
        <result column="user_uuid" property="userUuid"/>
        <result column="point" property="point" jdbcType="DECIMAL"/>
        <result column="power" property="power" jdbcType="DECIMAL"/>
        <result column="created" property="created"/>
        <result column="updated" property="updated"/>
    </resultMap>
    
    <update id="increasePoint" >
      update energy_wallet set point=point + #{value} where user_uuid = #{userUuid}
    </update>

    <update id="decreasePoint">
      update energy_wallet set point=point - #{value} where user_uuid = #{userUuid}
    </update>

    <update id="increasePower">
      update energy_wallet set power=power + #{value} where user_uuid = #{userUuid}
    </update>

    <update id="decreasePower">
      update energy_wallet set power=power - #{value} where user_uuid = #{userUuid}
    </update>
  
    
    <resultMap id="ActivityCompletionStatus" type="com.cascv.oas.server.energy.model.ActivityCompletionStatus">
        <id column="uuid" property="uuid"/>
        <result column="user_uuid" property="userUuid"/>
        <result column="status" property="status"/>
        <result column="source_code" property="sourceCode"/>
        <result column="created" property="created"/>
        <result column="updated" property="updated"/>
    </resultMap>
    
  <insert id="insertActivityCompletionStatus" parameterType="com.cascv.oas.server.energy.model.ActivityCompletionStatus">
      insert into activity_completion_status 
      (uuid, user_uuid, source_code, status, created, updated)
      values (#{uuid}, #{userUuid}, #{sourceCode}, #{status}, #{created}, #{updated})
  </insert>
  
  
    
</mapper>