<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cascv.oas.server.activity.mapper.ActivityMapper">
    
    <resultMap id="activityMap" type="com.cascv.oas.server.activity.model.ActivityModel">
		<id column="source_code" property="sourceCode" />
		<result column="source_name" property="sourceName"/>
		<result column="type" property="type"/>
	  	<result column="created" property="created"/>
    </resultMap>
  
    <sql id="activity_List">
  		source_code, source_name, type, created
    </sql>
    
    <!-- insert activity -->
    <insert id="insertActivity" parameterType="com.cascv.oas.server.activity.model.ActivityModel">
	    <selectKey keyProperty="sourceCode" order="AFTER" resultType="java.lang.Integer">
	      SELECT LAST_INSERT_ID()
	    </selectKey>
	    insert into activity
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        source_name,
	        <if test="type != null">
	          type,
	        </if>
	        created
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
	        #{sourceName,jdbcType=VARCHAR}, 
	        <if test="type != null">
	           #{type,jdbcType=VARCHAR},
	        </if>
	        #{created,jdbcType=VARCHAR}
	    </trim>
    </insert>
    
    <select id="selectAllActivity" resultMap="activityMap">
        select
         <include refid="activity_List" />
        from activity
    </select>
    
    <delete id="deleteActivity" parameterType="com.cascv.oas.server.activity.model.ActivityModel">
        delete from activity where source_code = #{sourceCode}
    </delete>
    
    
    <resultMap id="rewardMap" type="com.cascv.oas.server.activity.model.RewardModel">
		<id column="reward_code" property="rewardCode" />
		<result column="reward_name" property="rewardName"/>
		<result column="reward_description" property="rewardDescription"/>
	  	<result column="created" property="created"/>
    </resultMap>
    
    <sql id="reward_List">
  		reward_code, reward_name, reward_description, created
    </sql>
    
    <!-- insert activity -->
    <insert id="insertRewardType" parameterType="com.cascv.oas.server.activity.model.RewardModel">
	    <selectKey keyProperty="rewardCode" order="AFTER" resultType="java.lang.Integer">
	      SELECT LAST_INSERT_ID()
	    </selectKey>
	    insert into reward_source
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        reward_name,
	        <if test="rewardDescription != null">
	          reward_description,
	        </if>
	        created
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
	        #{rewardName,jdbcType=VARCHAR}, 
	        <if test="rewardDescription != null">
	           #{rewardDescription,jdbcType=VARCHAR},
	        </if>
	        #{created,jdbcType=VARCHAR}
	    </trim>
    </insert>
    
    <select id="selectAllReward" resultMap="rewardMap">
        select
         <include refid="reward_List" />
        from reward_source
    </select>
    
    <select id="selectRewardByRewardCode" resultMap="rewardMap">
        select
         <include refid="reward_List" />
        from reward_source where reward_code = #{rewardCode}
    </select>
    
    <delete id="deleteReward" parameterType="com.cascv.oas.server.activity.model.RewardModel">
        delete from reward_source where reward_code = #{rewardCode}
    </delete>
    
    

  <resultMap id="activityRewardConfigMap" type="com.cascv.oas.server.activity.model.ActivityRewardConfig">
	<id column="uuid" property="uuid" />
	<result column="source_code" property="sourceCode"/>
	<result column="reward_code" property="rewardCode"/>
	<result column="base_value" property="baseValue"/>
  	<result column="increase_speed" property="increaseSpeed"/>
  	<result column="increase_speed_unit" property="increaseSpeedUnit"/>
  	<result column="max_value" property="maxValue"/>
  	<result column="period" property="period"/>
  	<result column="created" property="created"/>
  	<result column="updated" property="updated"/>
  </resultMap>
 
  <sql id="activity_Reward_Connfig_List">
  		uuid, source_code, reward_code, base_value, increase_speed, increase_speed_unit,
    	max_value, period, created, updated
  </sql>
  
  <!-- insert activity reward config -->
  <insert id="insertActivityRewardConfig" parameterType="com.cascv.oas.server.activity.model.ActivityRewardConfig">    
    insert into activity_reward_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      uuid, source_code, reward_code,     
      <if test="baseValue != null">
        base_value,
      </if>
      <if test="increaseSpeed != null">
        increase_speed,
      </if>
      <if test="increaseSpeedUnit != null">
        increase_speed_unit,
      </if>
      <if test="maxValue != null">
        max_value,
      </if>
      <if test="period != null">
        period,
      </if>
        created, updated
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        #{uuid,jdbcType=VARCHAR},
        #{sourceCode}, 
        #{rewardCode},
        
        <if test="baseValue != null">
	       #{baseValue, jdbcType=DECIMAL},
	    </if>
        <if test="increaseSpeed != null">
           #{increaseSpeed,jdbcType=DECIMAL},
        </if>
        <if test="increaseSpeedUnit != null">
           #{increaseSpeedUnit,jdbcType=VARCHAR},
        </if>
	    
	       #{maxValue,jdbcType=DECIMAL},
	   
	    <if test="period != null">
	       #{period,jdbcType=DECIMAL},
	    </if>
        
        #{created,jdbcType=VARCHAR},
        #{updated,jdbcType=VARCHAR}
    </trim>
   </insert>
   
  <!-- select all activityReward -->
  <select id="selectActivityRewardBySourceCode" resultMap="activityRewardConfigMap">
      select 
      <include refid="activity_Reward_Connfig_List" />
      from activity_reward_config where source_code = #{sourceCode};
  </select> 
  
  <!-- select activity max_value -->
  <select id="selectMaxValueBySourceCodeAndrewardCode" resultMap="activityRewardConfigMap">
      select 
      <include refid="activity_Reward_Connfig_List" />
      from activity_reward_config where source_code = #{sourceCode} and reward_code = #{rewardCode};
  </select> 
  
  <delete id="deleteActivityReward" parameterType="com.cascv.oas.server.activity.model.ActivityRewardConfig">
      delete from activity_reward_config where source_code = #{sourceCode} and reward_code = #{rewardCode};
  </delete>
  
  <!-- update activity reward-->
  <update id="updateActivityReward" parameterType="com.cascv.oas.server.activity.model.ActivityRewardConfig">
      update activity_reward_config
      set
          base_value = #{baseValue},
          increase_speed = #{increaseSpeed},
          increase_speed_unit = #{increaseSpeedUnit},
          max_value = #{maxValue},
          period = #{period},
          updated = #{updated}
       where source_code = #{sourceCode} and reward_code = #{rewardCode}
          
  </update>
  
  <resultMap id="EnergyPointBall" type="com.cascv.oas.server.activity.model.EnergyPointBall">
        <id column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="user_uuid" jdbcType="VARCHAR" property="userUuid" />
        <result column="source_code" jdbcType="INTEGER" property="sourceCode" />
        <result column="point" jdbcType="DECIMAL" property="point"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="created" jdbcType="VARCHAR" property="created"/>
        <result column="updated" jdbcType="VARCHAR" property="updated"/>
    </resultMap>
    
  <!-- 插入积分球 -->
    <insert id="insertEnergyPointBall" parameterType="com.cascv.oas.server.activity.model.EnergyPointBall">
        insert into energy_point_ball (
        uuid, user_uuid, source_code, point, status, created, updated)
        values (
        #{uuid}, #{userUuid}, #{sourceCode}, #{point},
        #{status}, #{created}, #{updated})
    </insert>
    
    <resultMap id="EnergyPowerBall" type="com.cascv.oas.server.activity.model.EnergyPowerBall">
        <id column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="user_uuid" jdbcType="VARCHAR" property="userUuid" />
        <result column="source_code" jdbcType="INTEGER" property="sourceCode" />
        <result column="power" jdbcType="DECIMAL" property="power"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="created" jdbcType="VARCHAR" property="created"/>
        <result column="updated" jdbcType="VARCHAR" property="updated"/>
    </resultMap>
    
  <!-- 插入算力球 -->
    <insert id="insertEnergyPowerBall" parameterType="com.cascv.oas.server.activity.model.EnergyPowerBall">
        insert into energy_power_ball (
        uuid, user_uuid, source_code, power, status, created, updated)
        values (
        #{uuid}, #{userUuid}, #{sourceCode}, #{power},
        #{status}, #{created}, #{updated})
    </insert>
    
    <resultMap id="PointTradeRecord" type="com.cascv.oas.server.activity.model.PointTradeRecord">
        <id column="uuid" jdbcType="VARCHAR" property="uuid" />
        <result column="user_uuid" jdbcType="VARCHAR" property="userUuid" />
        <result column="energy_ball_uuid" jdbcType="VARCHAR" property="energyBallUuid" />
        <result column="in_or_out" javaType="INTEGER" property="inOrOut" />
        <result column="point_change" jdbcType="DECIMAL" property="pointChange"/>
        <result column="status" javaType="INTEGER" property="status" />
        <result column="created" jdbcType="VARCHAR" property="created"/>
    </resultMap>

    <!-- 插入积分记录 -->
    <insert id="insertPointTradeRecord" parameterType="com.cascv.oas.server.activity.model.PointTradeRecord">
        insert into point_trade_record (
        uuid, user_uuid, energy_ball_uuid, in_or_out, point_change, status, created)
        values (
        #{uuid}, #{userUuid}, #{energyBallUuid}, #{inOrOut}, #{pointChange},
        #{status}, #{created})
    </insert>
    
    <resultMap id="PowerTradeRecord" type="com.cascv.oas.server.activity.model.PowerTradeRecord">
        <id column="uuid" jdbcType="VARCHAR" property="uuid" />
        <result column="user_uuid" jdbcType="VARCHAR" property="userUuid" />
        <result column="energy_ball_uuid" jdbcType="VARCHAR" property="energyBallUuid" />
        <result column="in_or_out" javaType="INTEGER" property="inOrOut" />
        <result column="power_change" jdbcType="DECIMAL" property="powerChange"/>
        <result column="status" javaType="INTEGER" property="status" />
        <result column="created" jdbcType="VARCHAR" property="created"/>
    </resultMap>

    <!-- 插入算力记录 -->
    <insert id="insertPowerTradeRecord" parameterType="com.cascv.oas.server.activity.model.PowerTradeRecord">
        insert into point_trade_record (
        uuid, user_uuid, energy_ball_uuid, in_or_out, power_change, status, created)
        values (
        #{uuid}, #{userUuid}, #{energyBallUuid}, #{inOrOut}, #{powerChange},
        #{status}, #{created})
    </insert>
    
    <resultMap id="EnergyWall" type="com.cascv.oas.server.energy.model.EnergyWallet">
        <id column="uuid" property="uuid"/>
        <result column="user_uuid" property="userUuid"/>
        <result column="point" property="point" jdbcType="DECIMAL"/>
        <result column="power" property="power" jdbcType="DECIMAL"/>
        <result column="created" property="created"/>
        <result column="updated" property="updated"/>
    </resultMap>
    
    <update id="increasePoint" >
      update energy_wallet set point=point + #{value} where user_uuid = #{userUuid}
    </update>

    <update id="decreasePoint">
      update energy_wallet set point=point - #{value} where user_uuid = #{userUuid}
    </update>

    <update id="increasePower">
      update energy_wallet set power=power + #{value} where user_uuid = #{userUuid}
    </update>

    <update id="decreasePower">
      update energy_wallet set power=power - #{value} where user_uuid = #{userUuid}
    </update>
  
    
    <resultMap id="ActivityCompletionStatus" type="com.cascv.oas.server.energy.model.ActivityCompletionStatus">
        <id column="uuid" property="uuid"/>
        <result column="user_uuid" property="userUuid"/>
        <result column="status" property="status"/>
        <result column="source_code" property="sourceCode"/>
        <result column="created" property="created"/>
        <result column="updated" property="updated"/>
    </resultMap>
    
  <insert id="insertActivityCompletionStatus" parameterType="com.cascv.oas.server.energy.model.ActivityCompletionStatus">
      insert into activity_completion_status 
      (uuid, user_uuid, source_code, status, created, updated)
      values (#{uuid}, #{userUuid}, #{sourceCode}, #{status}, #{created}, #{updated})
  </insert>
  
  
    
</mapper>