<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cascv.oas.server.blockchain.mapper.BonusPointMapper">

  <resultMap id="bonusPonitMap" type="com.cascv.oas.server.blockchain.model.BonusPoint">
	<id column="id" property="id" />
	<result column="user_id" property="userId"/>
	<result column="balance" property="balance"/>
	<result column="power" property="power"/>
	<result column="created" property="created"/>
	<result column="updated" property="updated"/>
  </resultMap>
  
  <sql id="Base_Column_List">
    id, user_id, balance,power, created,updated
  </sql>
  
  
  <!-- insert user -->
  <insert id="insertSelective" parameterType="com.cascv.oas.server.blockchain.model.BonusPoint">
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bonus_point(
    	user_id,
    	balance,
    	power,
    	created,
    	updated
	)  values (
		#{userId,jdbcType=INTEGER},
		#{balance,jdbcType=DECIMAL},
		#{power,jdbcType=INTEGER},
		#{created,jdbcType=VARCHAR},
		#{updated,jdbcType=VARCHAR}
	)
  </insert>

  <!-- delete by id -->
  <delete id="deleteById">
    delete from bonus_point where id = #{id}
  </delete>

  <!-- delete by userId -->
  <delete id="deleteByUserId">
    delete from bonus_point where user_id = #{userId}
  </delete>
  
  <select id="selectById" parameterType="java.lang.Integer" resultMap="bonusPonitMap">
  	select 
      <include refid="Base_Column_List" />
    from bonus_point where id = #{id}
  </select>

  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="bonusPonitMap">
  	select 
      <include refid="Base_Column_List" />
    from bonus_point where user_id = #{userId}
  </select>
  
  <update id="increaseBalance">
  	update bonus_point set balance=balance + #{value} where id = #{id}
  </update>
  
  <update id="decreaseBalance">
  	update bonus_point set balance=balance - #{value} where id = #{id}
  </update>
  
  <update id="increasePower">
  	update bonus_point set power=power + #{value} where id = #{id}
  </update>
  
  <update id="decreasePower">
  	update bonus_point set power=power - #{value} where id = #{id}
  </update>
  
  
</mapper>