<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cascv.oas.server.energy.mapper.EnergySourcePointMapper">
    <resultMap id="BaseResultMap" type="com.cascv.oas.server.energy.model.EnergySourcePoint">
        <id column="uuid" property="uuid"/>
        <result column="source_code" property="sourceCode"/>
        <result column="source_name" property="sourceName"/>
        <result column="type" property="type"/>
        <result column="base_value"  property="baseValue"/>
        <result column="increase_speed"  property="increaseSpeed"/>
        <result column="increase_speed_unit"  property="increaseSpeedUnit"/>
        <result column="max_value"  property="maxValue"/>
        <result column="period"  property="period"/>
    </resultMap>

    <sql id="Base_Column_List">
        uuid, source_code, source_name, type, base_value, increase_speed, increase_speed_unit, max_value
    </sql>

    <select id="queryBySourceCode" resultMap="BaseResultMap">
		select C.uuid,C.source_code, C.base_value, C.increase_speed, C.increase_speed_unit, C.max_value,A.source_name,A.type 
		from activity_reward_config C 
		join activity A on C.source_code=A.source_code 
        <where>
            <if test="sourceCode != null">
                C.source_code = #{sourceCode}
            </if>
        </where>
    </select>

    <!-- 查询对应来源的一次性积分属性 -->
  <select id="queryPointSingle" resultType="java.math.BigDecimal">
    select base_value from activity_reward_config where source_code = #{sourceCode} and reward_code = #{rewardCode}
  </select>
</mapper>