<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cascv.oas.server.energy.mapper.EnergyBallMapper">
    <resultMap id="BaseResultMap" type="com.cascv.oas.server.energy.model.EnergyBall">
        <id column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="user_uuid" jdbcType="VARCHAR" property="userUuid" />
        <result column="source_code" jdbcType="INTEGER" property="sourceCode" />
        <result column="point" jdbcType="DECIMAL" property="point"/>
<!--         <result column="power_source" jdbcType="INTEGER" property="powerSource"/> -->
<!--         <result column="power" jdbcType="DECIMAL" property="power"/> -->
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="created" jdbcType="VARCHAR" property="created"/>
        <result column="updated" jdbcType="VARCHAR" property="updated"/>
    </resultMap>

    <sql id="Base_Column_List">
        uuid, user_uuid, source_code, point, status, created, updated
    </sql>
    <!-- 根据能量球id查询 -->
    <select id="selectByUuid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from energy_point_ball where uuid = #{uuid}
    </select>

    <!-- 某用户的某个积分来源、根据提供的时间模糊查询 -->
    <select id="selectByTimeFuzzyQuery" resultMap="BaseResultMap">
          select
        <include refid="Base_Column_List" />
          from energy_point_ball
        <where>
            <if test="userUuid != null">
                user_uuid = #{userUuid}
            </if>
            <if test="sourceCode != null">
                and source_code = #{sourceCode}
            </if>
            <if test="created != null">
                and created like #{created}"%"
            </if>
        </where>
    </select>

    <!-- 查询某用户某种积分的所有能量球 -->
    <select id="selectByPointSourceCode" resultMap="BaseResultMap">
          select
        <include refid="Base_Column_List" />
          from energy_point_ball
        <where>
            <if test="userUuid != null">
                user_uuid = #{userUuid}
            </if>
            <if test="sourceCode != null">
                and source_code = #{sourceCode}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>

    <!-- 查询某用户某种积分的最近创建的一个球 -->
    <select id="selectLatestOneByPointSourceCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from energy_point_ball
        <where>
            <if test="userUuid != null">
                user_uuid = #{userUuid}
            </if>
            <if test="sourceCode != null">
                and source_code = #{sourceCode}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by created desc limit 1
    </select>
    
<!-- 查询某用户步行特定时间段产生的球 -->
<select id="selectUserPointByTime" resultType="java.math.BigDecimal">
        select SUM(point) as point
        from energy_point_ball
        where user_uuid=#{userUuid} and source_code=3 and DATE_FORMAT(created,"%Y-%m-%d %T") BETWEEN #{startTime} and #{endTime}
    </select>
    
    <!-- 查询某用户某种积分的所有能量球 部分信息 -->
    <select id="selectPartByPointSourceCode" resultMap="EnergyBallWrapper">
        select
            b.uuid,
            b.user_uuid,
            b.point as value,
            DATE_FORMAT(b.start_date, '%Y-%m-%d %H:%i:%S') as start_date,
            date_add( b.start_date, interval #{timeGap} second ) as end_date,
            p.source_code as type,
            p.source_name as name
        from
            (
            select
                uuid,
                user_uuid,
                source_code,
                point,
                status,
                DATE_FORMAT( STR_TO_DATE( created, '%Y-%m-%d %H:%i:%S' ), '%Y-%m-%d %H:%i:%S') as start_date
            from
                energy_point_ball
            ) b
            inner join activity p
        where
            b.source_code = p.source_code
            and b.source_code = #{sourceCode}
            and b.status = #{status}
            and b.user_uuid = #{userUuid}
    </select>
    
    <!-- 查询某用户通过某种方式累计算力提升 -->
    <select id="countByUserUuidAndPowerSource" resultType="java.lang.Integer">
    select SUM(power) from energy_power_ball 
    where source_code=#{sourceCode} and user_uuid=#{userUuid}
    </select>
    
    <resultMap id="EnergyBallWrapper" type="com.cascv.oas.server.energy.vo.EnergyBallWrapper">
        <id column="uuid" property="uuid"/>
        <result column="value" property="value"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date"  property="endDate"/>
        <result column="type" property="type" />
        <result column="name" property="name" />
    </resultMap>

    <!-- 变更能量球的状态 -->
    <update id="updateStatusByUuid">
        update energy_point_ball
        set `status` = #{status}, updated = #{updated} WHERE uuid = #{uuid}
    </update>

    <!-- 变更能量球积分 -->
    <update id="updatePointByUuid">
        update energy_point_ball
        set point = #{point}, updated = #{updated} where uuid = #{uuid}
    </update>
    <!-- 插入能量球 -->
    <insert id="insertEnergyBall" parameterType="com.cascv.oas.server.energy.model.EnergyBall">
        insert into energy_point_ball (
        uuid,
        user_uuid,
        source_code,
        point,
<!--         power_source, -->
<!--         power, -->
        status,
        created,
        updated)
        values (
        #{uuid},
        #{userUuid},
        #{sourceCode},
        #{point},
<!--         #{powerSource}, -->
<!--         #{power}, -->
        #{status},
        #{created},
        #{updated})
    </insert>

</mapper>