<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cascv.oas.server.energy.mapper.EnergySourcePowerMapper">
    <resultMap id="BaseResultMap" type="com.cascv.oas.server.energy.model.EnergySourcePower">
        <id column="uuid" property="uuid"/>
        <result column="source_code" property="sourceCode"/>
        <result column="source_name" property="sourceName"/>
        <result column="type" property="type"/>
        <result column="power_single" property="powerSingle"/>
        <result column="power_increase_speed" property="powerIncreaseSpeed"/>
        <result column="power_increase_speed_unit" property="powerIncreaseSpeedUnitName"/>
        <result column="power_capacity_each_ball" property="powerCapacityEachBall"/>
    </resultMap>

  <select id="queryPowerSingle" resultType="java.math.BigDecimal">
    select power_single from energy_source_power where source_code = #{sourceCode}
  </select>
  
  <resultMap id="ActivityCompletionStatus" type="com.cascv.oas.server.energy.vo.ActivityResult">
        <result column="source_code" property="sourceCode"/>
        <result column="source_name" property="sourceName"/>
        <result column="status" property="status"/>
    </resultMap>
    
  <insert id="insertActivity" parameterType="com.cascv.oas.server.energy.model.ActivityCompletionStatus">
      insert into activity_completion_status 
      (uuid, user_uuid, source_code, status)
      values (#{uuid}, #{userUuid}, #{sourceCode}, #{status})
  </insert>
  
  <select id="selectByUserUuid" resultMap="ActivityCompletionStatus">
      select * from activity_completion_status A left join energy_source_power B 
             on A.source_code = B.source_code 
             where A.user_uuid = #{userUuid}
  </select>
  
    <select id="selectACSByUserUuid" resultMap="ActivityCompletionStatus">
      select * from activity_completion_status 
             where user_uuid = #{userUuid}
  </select>
  
  <select id="selectStatusByUserUuid" resultMap="ActivityCompletionStatus">
      select * from activity_completion_status A left join energy_source_power B 
             on A.source_code = B.source_code 
             where A.user_uuid = #{userUuid}
  </select>
  
  <update id="updateStatus" parameterType="com.cascv.oas.server.energy.model.ActivityCompletionStatus">
      update activity_completion_status set status = #{status} where user_uuid=#{userUuid}
  </update>
  
</mapper>