<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cascv.oas.server.energy.mapper.EnergyTradeRecordMapper">
    <resultMap id="BaseResultMap" type="com.cascv.oas.server.energy.model.EnergyTradeRecord">
        <id column="uuid" jdbcType="VARCHAR" property="uuid" />
        <result column="user_uuid" jdbcType="VARCHAR" property="userUuid" />
        <result column="energy_ball_uuid" jdbcType="VARCHAR" property="energyBallUuid" />
        <result column="in_or_out" javaType="INTEGER" property="inOrOut" />
        <result column="point_change" jdbcType="DECIMAL" property="pointChange"/>
        <result column="power_change" jdbcType="DECIMAL" property="powerChange"/>
        <result column="status" javaType="INTEGER" property="status" />
        <result column="time_created" jdbcType="VARCHAR" property="timeCreated"/>
        <result column="time_updated" jdbcType="VARCHAR" property="timeUpdated"/>
    </resultMap>

    <sql id="Base_Column_List">
        uuid, user_uuid, energy_ball_uuid, in_or_out, point_change, power_change, status, time_created, time_updated
    </sql>

    <!-- 插入记录 -->
    <insert id="insertEnergyTradeRecord" parameterType="com.cascv.oas.server.energy.model.EnergyTradeRecord">
        insert into energy_trade_record (
        uuid,
        user_uuid,
        energy_ball_uuid,
        in_or_out,
        point_change,
        power_change,
        status,
        time_created,
        time_updated )
        values (
        #{uuid},
        #{userUuid},
        #{energyBallUuid},
        #{inOrOut},
        #{pointChange},
        #{powerChange},
        #{status},
        #{timeCreated},
        #{timeUpdated})
    </insert>
    
   <select id="sumPoint" resultType="java.math.BigDecimal">
  	select 
  	  sum(point_change) 
  	from energy_trade_record 
    	where user_uuid=#{userUuid}
    	and in_or_out=1 
    	and status = 1
    	and time_created between #{beginTime} and #{endTime}
  </select>

   <select id="sumInPoint" resultType="java.math.BigDecimal">
  	select 
  	  sum(point_change) 
	from energy_trade_record 
    	where user_uuid=#{userUuid}
    	and in_or_out=1 
      	and time_created between #{beginTime} and #{endTime}
  </select>

	<select id="sumOutPoint" resultType="java.math.BigDecimal">
  	select 
  	  sum(point_change) 
	from energy_trade_record 
    	where user_uuid=#{userUuid}
    	and in_or_out=0 
      	and time_created between #{beginTime} and #{endTime}
  </select>
  
  <select id="selectTrade" resultMap="BaseResultMap">
	select 
  	  <include refid="Base_Column_List"/>
  	from energy_trade_record 
    where user_uuid=#{userUuid}
    and in_or_out=1 
    and status = 1
    and time_created between #{beginTime} and #{endTime}
  </select>
  
  <select id="countByUserUuid" resultType="java.lang.Integer">
  	select count(*) from energy_trade_record where user_uuid = #{userUuid};
  </select>
  
  
  <resultMap id="detailResultMap" type="com.cascv.oas.server.energy.vo.EnergyChangeDetail">
    <id column="uuid" property="uuid"/>
    <result column="user_uuid" property="userUuid"/>
    <result column="time_created" property="created"/>
    <result column="type" property="category"/>
    <result column="source_name" property="activity"/>
    <result column="point" property="decPoint"/>
    <result column="in_or_out" property="inOrOut"/>
  </resultMap>
  
  <select id="selectByPage" resultMap="detailResultMap">
    select 
		U.uuid as uuid,
		U.user_uuid as userUuid, 
    	U.point_change as point, 
    	U.time_created as time_created, 
    	U.in_or_out as in_or_out,
    	T.source_name as source_name, 
    	T.type as type from energy_trade_record U 
    	left outer join energy_ball A on U.in_or_out = 1 and U.energy_ball_uuid = A.uuid 
    	left outer join energy_source_point T on A.point_source = T.source_code
    	where U.user_uuid = #{userUuid} 
    	order by U.time_created desc 
    	limit #{offset}, #{limit}
  </select>

  <update id="updateStatus">
  	update energy_trade_record set
  	  status = #{newStatus}
    where uuid = #{uuid}
  </update>
</mapper>