<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cascv.oas.server.blockchain.mapper.EthWalletDetailMapper">

  <resultMap id="ethWalletDetailMap" type="com.cascv.oas.server.blockchain.model.EthWalletDetail">
	<id column="uuid" property="uuid" />
	<result column="address" property="address"/>
	<result column="value" property="value" jdbcType="DECIMAL"/>
	<result column="title" property="title"/>
	<result column="sub_title" property="subTitle"/>
	<result column="in_or_out" property="inOrOut" jdbcType="INTEGER"/>
	<result column="tx_hash" property="txHash"/>
	<result column="remark" property="remark"/>
<!-- 	<result column="change_address" property="changeAddress"/> -->
	<result column="created" property="created"/>
  </resultMap>
  
  
  <sql id="Base_Column_List">
    uuid, address, value, title, sub_title,in_or_out, tx_hash, remark, created
<!--     , change_address -->
  </sql>
  
  
  <!-- insert user -->
  <insert id="insertSelective" parameterType="com.cascv.oas.server.blockchain.model.EthWalletDetail">
    insert into eth_wallet_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
    	uuid,
    	address,
    	value,
    	<if test="title != null">
    		title,
    	</if>
    	<if test="subTitle != null">
    		sub_title,
    	</if>
    	<if test="inOrOut != null">
    		in_or_out,
    	</if>
		<if test="txHash != null">
    		tx_hash,
    	</if>
    	<if test="remark != null">
    		remark,
    	</if>
<!--     	<if test="changeAddress != null"> -->
<!--     		change_address, -->
<!--     	</if> -->
    	created
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{uuid,jdbcType=VARCHAR},
      #{address,jdbcType=VARCHAR},
      #{value,jdbcType=DECIMAL},
    	<if test="title != null">
    		#{title,jdbcType=VARCHAR},
    	</if>
    	<if test="subTitle != null">
    		#{subTitle,jdbcType=VARCHAR},
    	</if>
    	<if test="inOrOut != null">
    		#{inOrOut,jdbcType=INTEGER},
    	</if>
    	<if test="txHash != null">
    		#{txHash,jdbcType=VARCHAR},
    	</if>
    	<if test="remark != null">
    		#{remark,jdbcType=VARCHAR},
    	</if>
<!--     	<if test="changeAddress != null"> -->
<!--     		#{changeAddress,jdbcType=VARCHAR}, -->
<!--     	</if> -->
    		#{created,jdbcType=VARCHAR}
    </trim>
  </insert>

  <!-- delete by id -->
  <delete id="deleteByUuid" parameterType="java.lang.String">
    delete from eth_wallet_detail where uuid = #{uuid}
  </delete>

  <!-- delete by userId -->
  <delete id="deleteByAddress" parameterType="java.lang.String">
    delete from eth_wallet_detail where address = #{address}
  </delete>
  
  <select id="selectCount" resultType="java.lang.Integer">
  	select count(*) from eth_wallet_detail where address = #{address};
  </select>
  
  <select id="selectByPage" resultMap="ethWalletDetailMap">
  	select 
      <include refid="Base_Column_List" />
    from eth_wallet_detail where address = #{address} order by created desc limit #{offset},#{limit};
  </select>

  <select id="selectByAddress" parameterType="java.lang.String" resultMap="ethWalletDetailMap">
  	select 
      <include refid="Base_Column_List" />
    from eth_wallet_detail where address = #{address}
  </select>
  <select id="selectByInOrOut" resultMap="ethWalletDetailMap">
  	select 
      <include refid="Base_Column_List" />
    from eth_wallet_detail where address = #{address} and in_or_out = #{inOrOut} order by created desc limit #{offset},#{limit};
  </select>
</mapper>



  
  