<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cascv.oas.server.blockchain.mapper.UserCoinMapper">

  <resultMap id="userCoinMap" type="com.cascv.oas.server.blockchain.model.UserCoin">
  <id column="user_uuid" property="userUuid" />
	<id column="contract" property="contract" />
  	<result column="coin_name" property="name" />
  	<result column="coin_symbol" property="symbol" />
	<result column="width" property="width"/>
	<result column="address" property="address"/>
	<result column="balance" property="balance" jdbcType="DECIMAL"/>
  </resultMap>
  
  <sql id="Base_Column_List">
    user_uuid, contract, coin_name, coin_symbol, width, address, balance
  </sql>

  <!-- insert selective -->
  <insert id="insertSelective" parameterType="com.cascv.oas.server.blockchain.model.UserCoin">
    insert into user_coin
      <trim prefix="(" suffix=")" suffixOverrides=",">
        user_uuid,
        contract,
        coin_name,
        coin_symbol,
        width,
        address,
        balance
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides=",">
        #{userUuid,jdbcType=VARCHAR},
		#{contract,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR},
        #{symbol,jdbcType=VARCHAR},
        #{width,jdbcType=INTEGER},
        #{address,jdbcType=VARCHAR},
        #{balance,jdbcType=DECIMAL},
      </trim>
  </insert>

  <select id="selectOne" resultMap="userCoinMap">
  	select 
      <include refid="Base_Column_List" />
    from user_coin where user_uuid = #{userUuid} and contract = #{contract}
  </select>

  <select id="selectAll" resultMap="userCoinMap">
  	select 
      <include refid="Base_Column_List" />
    from user_coin where user_uuid = #{userUuid}
  </select>

  <!-- delete -->
  <delete id="deleteOne">
    delete from user_coin where user_uuid = #{userUuid} and contract = #{contract}
  </delete>

  <delete id="deleteAll">
    delete from user_coin where user_uuid = #{userUuid}
  </delete>
</mapper>