<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cascv.oas.server.user.mapper.UserIdentityCardModelMapper">
  <resultMap id="userIdentityCardModelMap" type="com.cascv.oas.server.user.model.UserIdentityCardModel">
	<id column="uuid" property="uuid" />
	<result column="user_name" property="userName"/>
	<result column="user_identity_name" property="userIdentityName"/>
	<result column="user_identity_number" property="userIdentityNumber"/>
    <result column="front_of_photo" property="frontOfPhoto"/>
    <result column="back_of_photo" property="backOfPhoto"/>
	<result column="hold_in_hand" property="holdInHand"/>
	<result column="remark" property="remark"/>
    <result column="verify_status" property="verifyStatus" jdbcType="INTEGER"/>
	<result column="created" property="created"/>
	<result column="updated" property="updated"/> 
  </resultMap>
 
  <sql id="Base_Column_List">
    uuid, user_name, user_identity_name,user_identity_number,front_of_photo,back_of_photo,hold_in_hand,remark,verify_status,created,updated
  </sql>
  
 <select id="selectAllUserIdentityCardBySearchValue" resultMap="userIdentityCardModelMap">
 select 
  	  <include refid="Base_Column_List" /> 	  
 from 
 	  identity_card_info 
 where
 	  verify_status != 0
 	  <if test="searchValue != null and searchValue !='' ">
       and user_name like concat('%',#{searchValue},'%')
       or user_identity_name like concat('%',#{searchValue},'%')
       or user_identity_number like concat('%',#{searchValue},'%')
       or created like concat('%',#{searchValue},'%')
       </if> 
 order by created desc
 limit #{offset}, #{limit};
  </select>
  
   <select id="countBySearchValue" resultType="java.lang.Integer">
 select 
  	  count(*)	  
 from 
 	  identity_card_info 
 where
 	  verify_status != 0
 	  <if test="searchValue != null and searchValue !='' ">
       and user_name like concat('%',#{searchValue},'%')
       or user_identity_name like concat('%',#{searchValue},'%')
       or user_identity_number like concat('%',#{searchValue},'%')
       or created like concat('%',#{searchValue},'%')
       </if> 
       ;
  </select>
  
 <select id="selectUserIdentityByUserName" resultMap="userIdentityCardModelMap">
 select 
 		<include refid="Base_Column_List" /> 	  
 from 
 		identity_card_info 
 where
 		user_name = #{userName} order by created desc;
  </select>
  
   <select id="selectFinishUserIdentityByUserName" resultMap="userIdentityCardModelMap">
 select 
 		<include refid="Base_Column_List" /> 	  
 from 
 		identity_card_info 
 where
 		user_name = #{userName} and verify_status=2;
  </select>
  
   <select id="selectUserIdentityByUserNameVerifyStatus" resultMap="userIdentityCardModelMap">
 select 
 		<include refid="Base_Column_List" /> 	  
 from 
 		identity_card_info 
 where
 		user_name = #{userName} and verify_status=0;
  </select>
<!-- insert user -->
  <insert id="insertUserIdentityCard" parameterType="com.cascv.oas.server.user.model.UserIdentityCardModel">
    <selectKey keyProperty="uuid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into identity_card_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        user_name,
        </if>
        <if test="userIdentityName != null">
        user_identity_name,
        </if>
        <if test="userIdentityNumber != null">
        user_identity_number,
        </if>
        <if test="frontOfPhoto != null">
        front_of_photo,
        </if>
        <if test="backOfPhoto != null">
        back_of_photo,
        </if>
        <if test="holdInHand != null">
        hold_in_hand,
        </if>
        <if test="remark != null">
        remark,
        </if>
        <if test="verifyStatus != null">
        verify_status,
      </if>
       <if test="created != null">
        created,
      </if>
      <if test="updated != null">
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userIdentityName != null">
        #{userIdentityName,jdbcType=VARCHAR},
        </if>
        <if test="userIdentityNumber != null">
        #{userIdentityNumber,jdbcType=VARCHAR},
        </if>
        <if test="frontOfPhoto != null">
        #{frontOfPhoto,jdbcType=VARCHAR},
        </if>
        <if test="backOfPhoto != null">
        #{backOfPhoto,jdbcType=VARCHAR},
        </if>
        <if test="holdInHand != null">
        #{holdInHand,jdbcType=VARCHAR},
        </if>
        <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
        </if>
      <if test="verifyStatus != null">
        #{verifyStatus,jdbcType=INTEGER},
      </if>
       <if test="created != null">
       #{created,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=VARCHAR},
      </if>
      </trim>
</insert>
  
<update id="updateUserIdentityCardByNameNumberRemarkVerifyStatus" parameterType="com.cascv.oas.server.user.model.UserIdentityCardModel"> 
      update identity_card_info 
      <trim prefix="SET" suffixOverrides=",">
       <if test="uuid != null">
       uuid= #{uuid},
       </if>
       <if test="userIdentityName != null">
       user_identity_name= #{userIdentityName},
      </if>
      <if test="userIdentityNumber != null">
       user_identity_number = #{userIdentityNumber},
      </if>
      <if test="remark != null">
       remark = #{remark},
       </if>
       <if test="verifyStatus != null">
       verify_status = #{verifyStatus},
       </if>
        <if test="created != null">
        created = #{created},
       </if>
       <if test="updated != null">
        updated = #{updated},
       </if>
       </trim>
		where uuid = #{uuid};
       </update>
       
 <update id="updateUserIdentityCardByVerifyStatus" parameterType="com.cascv.oas.server.user.model.UserIdentityCardModel"> 
      update identity_card_info 
      <trim prefix="SET" suffixOverrides=",">
       <if test="frontOfPhoto != null">
       front_of_photo = #{frontOfPhoto},
      </if>
       <if test="backOfPhoto != null">
       back_of_photo = #{backOfPhoto},
       </if>
       <if test="holdInHand != null">
       hold_in_hand = #{holdInHand},
       </if>
       <if test="verifyStatus != null">
       verify_status = #{verifyStatus},
       </if>
        <if test="created != null">
        created = #{created},
       </if>
       <if test="updated != null">
        updated = #{updated},
       </if>
       </trim>
       where user_name = #{userName} and verify_status=0;
       </update>   
<update id="updateUserIdentityCardByFrontOfPhoto" parameterType="com.cascv.oas.server.user.model.UserIdentityCardModel"> 
      update identity_card_info 
<trim prefix="SET" suffixOverrides=",">
       <if test="userName != null">
       user_name= #{userName},
      </if>
      <if test="frontOfPhoto != null">
       front_of_photo = #{frontOfPhoto},
      </if>
      <if test="verifyStatus != null">
        verify_status = #{verifyStatus},
      </if>
       <if test="created != null">
        created = #{created},
      </if>
      <if test="updated != null">
        updated = #{updated},
      </if>
       </trim>
       where user_name = #{userName} and verify_status=0;
      </update>
    
<update id="updateUserIdentityCardByBackOfPhoto" parameterType="com.cascv.oas.server.user.model.UserIdentityCardModel"> 
      update identity_card_info 
<trim prefix="SET" suffixOverrides=",">
       <if test="userName != null">
       user_name= #{userName},
      </if>
      <if test="backOfPhoto != null">
       back_of_photo = #{backOfPhoto},
      </if>
      <if test="verifyStatus != null">
        verify_status = #{verifyStatus},
      </if>
       <if test="created != null">
        created = #{created},
      </if>
      <if test="updated != null">
        updated = #{updated},
      </if>
      </trim>
      where user_name = #{userName} and verify_status=0;
      </update>
    
<update id="updateUserIdentityCardByHoldInHand" parameterType="com.cascv.oas.server.user.model.UserIdentityCardModel"> 
      update identity_card_info 
      <trim prefix="SET" suffixOverrides=",">
       <if test="userName != null">
       user_name= #{userName},
      </if>
      <if test="holdInHand != null">
       hold_in_hand = #{holdInHand},
      </if>
      <if test="verifyStatus != null">
        verify_status = #{verifyStatus},
      </if>
       <if test="created != null">
        created = #{created},
      </if>
      <if test="updated != null">
        updated = #{updated},
      </if>
       </trim>
       where user_name = #{userName} and verify_status=0;
       </update>

 <!-- select identityNumber-->
<select id="selectUserByIdentityNumber" resultMap="userIdentityCardModelMap">
    select 
         <include refid="Base_Column_List" />
    from 
    	identity_card_info 
    where 
  		user_identity_number = #{userIdentityNumber} and verify_status = 2;
</select>

<!--   <resultMap id="kycResultMap" type="com.cascv.oas.server.user.model.UserIdentityCardModel"> -->
<!--     <id column="user_identity_name" property="userIdentityName"/> -->
<!--     <result column="user_identity_number" property="userIdentityNumber"/> -->
<!--     <result column="remark" property="remark"/> -->
<!--     <result column="verify_status" property="verifyStatus"/> -->
<!--   </resultMap> -->
  <select id="inquireUserKYCInfo" resultType="com.cascv.oas.server.user.wrapper.UserDetailModel">
  	select 
		U.name as name,
	    U.nickname as nickname, 
	    U.gender as gender,
	    U.birthday as birthday,
	    U.address as address,
	    U.mobile as mobile,
	    U.email as email,
	    U.IMEI as IMEI,
	    U.status as status,
	    U.invite_code as inviteCode,
		ICI.created as created,
		ICI.user_identity_name as userIdentityName,
		ICI.user_identity_number as userIdentityNumber,
		ICI.remark as remark,
		ICI.verify_status as verifyStatus
    	from user_info U 
		left join identity_card_info ICI on U.name=ICI.user_name
		where U.name=#{name} 
		order by ICI.created desc 
	    limit 1
  </select>
</mapper>