<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cascv.oas.server.version.mapper.VersionModelMapper">
  <resultMap id="versionModelMap" type="com.cascv.oas.server.version.model.VersionModel">
	<id column="uuid" property="uuid" />
	<result column="version_code" property="versionCode"/>
	<result column="version_status" property="versionStatus"/>
	<result column="app_url" property="appUrl"/>
	<result column="created" property="created"/>
  </resultMap>
 
  <sql id="Base_Column_List">
    uuid, version_code, version_status,app_url,created
  </sql>
  
<!--   insert app -->
  <insert id="insertApp" parameterType="com.cascv.oas.server.version.model.VersionModel">
    <selectKey keyProperty="uuid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into version_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="versionCode != null">
        version_code,
      </if>
      <if test="versionStatus != null">
        version_status,
      </if>
      <if test="appUrl != null">
        app_url,
      </if>
      <if test="created != null">
        created,
       </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="versionCode != null">
        #{versionCode,jdbcType=INTEGER},
      </if>
      <if test="versionStatus != null">
        #{versionStatus,jdbcType=VARCHAR},
      </if>
      <if test="appUrl != null">
        #{appUrl,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=VARCHAR},
      </if>    
    </trim>
   </insert>
  
  <!-- delete app -->
  <delete id="deleteApp" parameterType="java.lang.Integer">
    delete from version_info where uuid = #{uuid}
  </delete>

  <select id="selectAllApps" resultMap="versionModelMap">
  	select 
  	<include refid="Base_Column_List" />
  	from version_info order by created desc;
  </select>
  
	<!-- Name:upadateApp -->
	<!-- Author:yangming -->
	<!-- Date:2018.09.25 -->
    <update id="upadateApp" parameterType="com.cascv.oas.server.version.model.VersionModel"> 
      update version_info 
      <trim prefix="SET" suffixOverrides=",">
      <if test="versionCode!= null">
       version_code = #{versionCode},
      </if>
      <if test="versionStatus!= null">
       version_status = #{versionStatus},
      </if>
      <if test="appUrl!= null">
       app_url = #{appUrl},
      </if>
    </trim>
      where uuid = #{uuid}
    </update>
    
</mapper>

