<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
  	<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
  	<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
  
  	<script type="text/javascript" th:src="@{/webjars/js-xlsx/0.8.0/dist/xlsx.core.min.js}"></script>
  	 <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
  	<link rel="stylesheet" type="text/css"  th:href="@{/webjars/x-editable-bootstrap/1.5.1/css/bootstrap-editable.css}">
 	<link rel="stylesheet" type="text/css"  th:href="@{/js/bootstrap-table-master/dist/bootstrap-table.min.css}">  
    <script type="text/javascript" th:src="@{/js/bootstrap-table-master/dist/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-table-master/dist/locale/bootstrap-table-zh-CN.min.js}"></script> 
    <script type="text/javascript" th:src="@{/webjars/x-editable-bootstrap/1.5.1/js/bootstrap-editable.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-table-master/dist/extensions/editable/bootstrap-table-editable.min.js}"></script>
   
    
    <title>一对多转账</title>  

    <style type="text/css">  

.fileBtn { 
/*  width: 25%;  */
 margin-top: 20px; 
 margin-left:10px;
 float:left;
 
}

.submitBtn { 
/*  width: 25%;  */
 margin-top: 20px; 
 margin-left:15px;
 float:left;
}
.col-center-block {

    float: none;

    display: block;

    margin-left: auto;

    margin-right: auto;

}


 .content-tabs {
    border-bottom: solid 1px #d8dbde;
/*     #d8dbde; */
/*     #2f4050;黑色 */
}
.page-tabs a.active {
/*     background:#2F4F4F; */
    color: #a7b1c2;
}
.active1{
background:#d8dbde
/* #C0C0C0; */
}
/* @media (min-width: 768px) */
.modal-sm {
    width: 400px;
}
 .input-group	{ 
    vertical-align:middle;
	margin-top:11px;
	}
	 .col-sm-2{
   margin-left: -40px;
   }
   	 .pullRight{
    width: 50.33333333%;
	margin-bottom:13px;
	margin-top:13px;
	height: 35px;
	float:right;
	margin-right: -135px;
   }
    </style>  



    </head>  

      

    <body>  
	
		<div class="row content-tabs">

            <nav class="page-tabs menuTabs">
                <div class="page-tabs-content">
                    <a href="javascript:;" class="active menuTab" onclick="display1()"id="btn1">正常账号转账</a>
                </div>
                <div class="page-tabs-content">
                    <a href="javascript:;" class="active1 menuTab" onclick="display2()"id="btn2">测试账号转账</a>
                </div>
            </nav>	
             </div> 
             
            

			

  <div class="container" id="page1">             	
            
   <form id="addonlineForm" action="/online" method="post" class="form-horizontal "> 

						<div class="form-group "style="padding-top: 15px;  ">
							<label for="versionCode" class="col-sm-2 control-label">全局配置金额：</label>
							<div class="col-sm-3" style=" width: 22%;padding-right: 0px;padding-left: 0px;">
								<input  id="globalValue" required="required" class="form-control" maxlength="100" autocomplete="off" placeholder="请输入全局配置金额" />
								
								
							</div>
							<div class="col-sm-1">
								<input id="but" type="button" class="btn btn-primary "onclick="getTableData()" value="提交"/>
							</div>	
							<div class="col-sm-3 pull-right">	
								<input type="text" class="form-control "placeholder="请输入搜索字段" id="searchValue"oninput="initNormalGrid(event)"/>	
								</div>
						</div>
						
	</form>	 




    
    <table id="normalGrid"></table>  
   
    </div> 
<!-- <span id="spanFirst">第一页</span> <span id="spanPre">上一页</span> <span id="spanNext">下一页</span> <span id="spanLast">最后一页</span> 第<span id="spanPageNum"></span>页/共<span id="spanTotalPage"></span>页 -->
      

   
    	


<div class="container" style="display:none" id="page2">

<!--  style="background:yellow" -->
     <div id="drop"><P >如果你想转账给更多的人，请使用excel表导入.<strong>（单次一对多转账建议转出账户控制在500个以内）</strong></p> </div>
   <div id="excelToolbar">
<input type="file" name="xlfile" id="excelFile" class="btn btn-primary fileBtn"></input> 
<input type="submit" class="btn btn-primary submitBtn"name="Submit3" value="提交" onclick="getExcelData();return false;" ></input>
<!-- 					<input type="button" value="新增新闻" style="background-color: #293846;width: 76px;height: 38px;outline:none;border:none;color: #ecf9ff" id="addBtn" data-toggle="modal" data-target="#addNewsModal"></input> -->
<!-- 					<input type="button" value="批量删除" id="deleteBtn" data-toggle="modal" data-target="#deleteNewsModal" class="btn btn-primary" onclick="deleteNews()"></input> -->
			</div>
    
  
<!--    <div class=excel> -->
<div class = "container">
    <table id="testGrid"></table>
    </div>
</div> 
 <div class="modal fade" id="Tip" role="dialog">

			<div class="modal-dialog modal-sm"  role="document">

				<div class="modal-content">

					<div class="modal-header">

						<h3>提示</h3>

					</div>

					<div class="modal-body" align="center">

						<h4  id="tipContent">新增成功</h4>

					</div>

					<div class="modal-footer">

						<button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>

					</div>

				</div>

			</div>

		</div> 

   

  
 


      




      

      


<script type="text/javascript" th:src="@{/js/multiTransfer/multiTransferOnline.js}"></script>
    </body>  

    </html>  
