<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main1" style="height:250px;width:800px;padding-left:200px;"></div>
    <div id="main2" style="height:250px;width:800px;padding-left:200px;"></div>
    
    <!-- ECharts单文件引入 -->
    <script src="https://cdn.bootcss.com/vue/2.5.9/vue.js"></script>
    <script src="https://cdn.bootcss.com/echarts/3.8.5/echarts.js"></script>
    <script type="text/javascript">
      
    var myChart1 = echarts.init(document.getElementById('main1'));
    var myChart2 = echarts.init(document.getElementById('main2'));

    //设置主题皮肤
    myChart1.setTheme("macarons");
    myChart2.setTheme("macarons");
                             
                
                var option1 =  {
                        title: {
                            text: '时间安排',
                            left: 10
                        },
                        
                        grid: {
                        	left: '3%',        
							right: '4%',        
							bottom: '9%', 
                            containLabel: true,                           
                        },
                        
                        xAxis: {                        	
                        	type: 'time',
	                        axisLabel: {
	                            show: true,
	                            interval: 0,
	                           // rotate: 45
	                        },  
	                        
	                     // 控制网格线是否显示
	                        splitLine: {
	                                show: true, 
	                                //  改变轴线颜色
	                                lineStyle: {
	                                   
	                                }                            
	                        },
                        },                                           
             
                        yAxis: {
                            'name':'用户实验',                      
                            left: 10,
                         // 控制网格线是否显示
                            splitLine: {
                                    show: true, 
                                    //  改变轴线颜色
                                    lineStyle: {                                      
                                    }                            
                            },
                            data: ['1', '2', '3', '4']     
                        },
                         
                       	dataZoom:[{
                    	　　　　type: 'slider',//图表下方的伸缩条
                    	　　　　show : true, //是否显示
                    	　　　　realtime : true, //拖动时，是否实时更新系列的视图
                    		 //backgroundColor: '#FFCCFF',                    		 
                    	　　　　start : 0, //伸缩条开始位置（1-100），可以随时更改
                    	　　　　end : 100, //伸缩条结束位置（1-100），可以随时更改
                    	　}],

                        tooltip: {
                            trigger: 'axis',
                            formatter: function (params) {
                                var res = params[0].name + "</br>"
                                var date0 = params[0].data;
                                var date1 = params[1].data;                                
                                date0 = date0.getFullYear() + "-" + (date0.getMonth() + 1) + "-" + date0.getDate();
                                date1 = date1.getFullYear() + "-" + (date1.getMonth() + 1) + "-" + date1.getDate();                           
                                res += params[0].seriesName + "~" + params[1].seriesName + ":</br>" + date0 + "~" + date1 + "</br>";                               
                                return res;
                            }
                        },
                        
                        series: [
                            {
                                name: '实验开始时间',
                                type: 'bar',
                                stack: 'test1',
                                itemStyle: {
                                    normal: {
                                        color: 'rgba(0,0,0,0)'
                                    }
                                },
                                
                                data: [
                                    new Date("2015/09/06"),
                                    new Date("2015/09/06"),
                                    new Date("2015/09/03"),
                                    new Date("2015/09/06"),                                   
                                ]
                            },
                            
                            {
                                name: '实验完成时间',
                                type: 'bar',
                                stack: 'test1',
                                itemStyle: {
                                },
                                
                                data: [
                                    new Date("2015/09/07"),
                                    new Date("2015/09/07"),
                                    new Date("2015/09/04"),
                                    new Date("2015/09/07"),                                   
                                ]
                            },                          
                        ]
                    };
  
                
                
                var option2= {    
						tooltip: {        
							trigger: 'axis'    
						}, 																
						
						grid: {        
							left: '3%',        
							right: '4%',        
							bottom: '9%',        
							containLabel: true    
						}, 
						
						toolbox: {					        
					        right:100,
					        top:0
					    },					     					   

 						xAxis : [
                	        {
                	            type : 'category',
                	            boundaryGap : false,
                	            // 控制网格线是否显示
    	                        splitLine: {
    	                                show: true, 
    	                                //  改变轴线颜色
    	                                lineStyle: {
    	                                   
    	                                }                            
    	                        },
                	            data: ['2015-09-03', '2015-09-04', '2015-09-05', '2015-09-06', '2015-09-07']
                	       
                	        }
                	    ],
					    
					    yAxis: {
							'name':'功率曲线',
					        type: 'value',
					        // 控制网格线是否显示
	                        splitLine: {
	                                show: true, 
	                                //  改变轴线颜色
	                                lineStyle: {	                                   
	                                    //color: ['red']
	                                }                            
	                        },
	                        data: ["1", "2", "3", "4"]
					    },
					    
					    dataZoom:[{
                    	　　　type: 'slider',//图表下方的伸缩条
                    	　　　show : true, //是否显示
		                    orient: 'horizontal',  
		                   // filterMode: 'weakFilter',
		                   zoomLock: false,//不能拖动
		                   top: 'bottom',
		                   //handleStyle.color: '#FFCCFF';
		                    //yAxisIndex : "none",   //不启用y轴的选中
                    	　　　realtime : true, //拖动时，是否实时更新系列的视图
                    	　　　start : 0, //伸缩条开始位置（1-100），可以随时更改
                    	　　　end : 100, //伸缩条结束位置（1-100），可以随时更改
                    	　}],
                    	   
					    series: [
					    	{
		                    	name: '实验1',
		                        type: 'line',
		                        stack:'1', // 需要堆叠的柱子请配置相同的stack!
		                        smooth: true,
		                        data: ['-','-', '-', '1',"1"],
		                        itemStyle: {
					 				normal: {
			 							label : {
			 								show:true,
											position:'top',
											formatter:'{c}'
			 							},
			 							areaStyle:{
											color:'#04bb74'
										},
										color:'#04bb74'
									}
					 			}
	                    	},
	                    	
	                    	{
		                    	name: '实验2',
		                        type: 'line',
		                        stack:'1', // 需要堆叠的柱子请配置相同的stack!
		                        smooth: true,
		                        data: ['-','-','-', '1',"1"],
		                        itemStyle: {
					 				normal: {
			 							label : {
			 								show:true,
											position:'top',
											formatter:'{c}'
			 							},
			 							areaStyle:{
											color:'#ffc400'
										},
										color:'#ffc400'
									}
					 			}
	                    	}
	                    	,
	                    	
	                    	{
		                    	name: '实验3',
		                        type: 'line',
		                        smooth: true,		           
		                        data: ["1","1"],
		                        itemStyle: {
					 				normal: {
			 							label : {
			 								show:true,
											position:'top',
											formatter:'{c}'
			 							},
			 							areaStyle:{
											color:'#ff80bf'
										},
										color:'#ff80bf'
									}
					 			}
	                    	},
	                    	
	                    	{
		                    	name: '实验4',
		                        type: 'line',
		                        stack:'1', // 需要堆叠的柱子请配置相同的stack!
		                        smooth: true,
		                        data: ['-','-', '-', "1","1"],
		                        itemStyle: {
					 				normal: {
			 							label : {
			 								show:true,
											position:'top',
											formatter:'{c}'
			 							},
			 							areaStyle:{
											//color:'#ff80bf'
											color: 'rgba(138, 43, 226)',
										},
										//color:'#ff80bf'
										color: 'rgba(138 ,43, 226)',
									}	                    		                        	
					 			}
	                    	},
	                    	
					      ]
					   }; 
                             
       // 为echarts对象加载数据
       myChart1.setOption(option1);
       myChart2.setOption(option2);
     
       //联动配置               
	   echarts.connect([myChart1, myChart2]);
     
</script>
</body>