<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>systemMonitor</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<!-- 	<script th:src="@{/webjars/momentjs/2.10.3/min/moment-with-locales.min.js}"></script> -->
    <link rel="stylesheet" type="text/css"  th:href="@{/js/bootstrap-table-master/dist/bootstrap-table.min.css}">  
	<script type="text/javascript" th:src="@{/js/bootstrap-table-master/dist/bootstrap-table.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap-table-master/dist/locale/bootstrap-table-zh-CN.min.js}"></script>
	 <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>	
<!-- 	<script type="text/javascript" th:src="@{/webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js}"></script> -->
<!-- 	<link rel="stylesheet" type="text/css"  th:href="@{/webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css}">				   	    -->
   
   <style>
	table{ 
    word-wrap:break-word;
    word-break:break-all;
	}
	.content-tabs {
    border-bottom: solid 1px #d8dbde;
	}	
	.col-sm-2 {
    width: 15%;
	padding-left: 5px;
/* 	margin-top:20px; */
	margin-right:0%;
   }
   .input-group	{ 
    vertical-align:middle;
	margin-top:11px;
	}
	 .form{
    width: 50.33333333%;
	margin-bottom:13px;
	margin-top:13px;
	height: 35px;
	float:right;
	margin-right: -135px;
   }
   .form1{
    width: 50.33333333%;
	margin-bottom:13px;
	margin-top:13px;
	height: 35px;
	float:left;
 	margin-right: -100px; 
   }
/*    .btn .btn-primary{ */
/*     border-radius: 3px; */
/*     color: #fff; */
/*     background-color: #337ab7; */
/*     border-color: #2e6da4; */
/* } */
   .col-sm-2{
   margin-left: -30px;
   }
    </style>
</head>

<body>

	<div class="row content-tabs">
		<nav class="page-tabs menuTabs"> 

			<div class="page-tabs-content">			
				<a href="javascript:;" class="active menuTab" onclick="display1()"id="btn1">在线钱包监控</a>
			</div>
			<div class="page-tabs-content">
				<a href="javascript:;" class="active1 menuTab" onclick="display2()"id="btn2">交易钱包监控</a>
			</div>	
			<div class="page-tabs-content">
				<a href="javascript:;" class="active1 menuTab" onclick="display3()"id="btn3">FIRSTONE页面详情</a>
			</div>	
				
		</nav>	
	</div> 

	<div class = "container" id="page1">
<!-- 	<form id="addVersionForm" action="/version" method="post" class="form-horizontal form"> -->

<!-- 						<div class="form-group "> -->
<!-- 							<label for="versionCode" class="col-sm-2 control-label"></label> -->
<!-- 							<div class="col-sm-5"> -->
<!-- 								<input  id="energy1" required="required" class="form-control" placeholder="搜索" onblur="initEnergyWalletGrid()"/> -->
<!-- 								<span id='msg_versionCode'></span> -->
								
<!-- 							</div> -->
<!-- 							<div class="col-sm-2"> -->
<!-- 								<button id="but" class="btn btn-default form-control"onclick="search()">搜索</button> -->
<!-- 							</div>						 -->
<!-- 						</div> -->
<!-- 	</form> -->
		<div style="margin-top:15px;margin-bottom: -10px;text-align: center;">
			<label>SYSTEM用户在线钱包余额：</label>
			<span id="systemUserWallet"></span>
		</div>
		
			<table id="onlineWalletGrid"></table>
	</div> 
	
	<div class = "container" style="display:none" id="page2">
<!-- 	<form id="addVersionForm" action="/version" method="post" class="form-horizontal form">  -->

<!-- 						<div class="form-group "> -->
<!-- 							<label for="versionCode" class="col-sm-2 control-label"></label> -->
<!-- 							<div class="col-sm-5"> -->
<!-- 								<input  id="energy1" required="required" class="form-control" placeholder="搜索" onblur="initEnergyWalletGrid()"/> -->
<!-- 								<span id='msg_versionCode'></span> -->
								
<!-- 							</div> -->
<!-- 							<div class="col-sm-2"> -->
<!-- 								<button id="but" class="btn btn-default form-control"onclick="search()">搜索</button> -->
<!-- 							</div>						 -->
<!-- 						</div> -->
<!-- 	</form> -->	
		<div style="margin-top:15px;margin-bottom: -10px;text-align: center;">
			<label>SYSTEM用户交易钱包余额：</label>
			<span id="systemEthWallet"></span>
		</div>
		<div class="pull-right" style="font-size:10px">区块链地址：<span  id="address"></span></div><br/>
		<div class="pull-right" style="font-size:10px">ETH余额：<span id="ETHmoney"></span></div>
		<table id="tradeWalletGrid"></table>
	</div>
	<div class = "container" style="display:none" id="page3">
	<form id="addVersionForm" action="/version" method="post" class="form-horizontal "> 

						<div class="form-group "style="padding-top: 15px;  ">
							<label for="versionCode" class="col-sm-2 control-label">重置金额：</label>
							<div class="col-sm-3">
								<input  id="firstMoney" required="required" class="form-control" maxlength="100" placeholder="请输入需要重置的金额" onblur="initEnergyWalletGrid()"/>
								<span id='msg_versionCode'></span>
								
							</div>
							<label for="versionCode" class="col-sm-2 control-label">重置备注：</label>
							<div class="col-sm-3">
								<input  id="remarks" required="required" class="form-control" placeholder="请输入重置备注" onblur="initEnergyWalletGrid()"/>
								<span id='msg_versionCode'></span>
								
							</div>
							<div class="col-sm-1">
								<input id="but" type="button" class="btn btn-primary "onclick="resetMoney()" value="确定"/>
							</div>						
						</div>
	</form>	
		
<!-- 		<div class="pull-left" >重置金额：<input  id="address"></input></div> -->
<!-- 		<div class="pull-left" >重置备注：<input id="ETHmoney"></input></div> -->
		<table id="firstoneGrid"></table>
	</div>

	<div class = "container" style="display:none" id="page4">
		</br>
		<label for="datetimepicker1" class="col-sm-2">开始时间：</label>
			<div class="col-sm-3">
				<div class="input-group  date" id="userEd2">
			
					<input type="text" name="startTime2" id="startTime2" value="" class=" form-control" onblur="initFundInGrid()"/>
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
				</div>	
			</div>

		<label for="datetimepicker1" class="col-sm-2">结束时间：</label>
			<div class="col-sm-3">
				<div class="input-group  date" id="userEd3">				
					<input type="text"  name="endTime2" id="endTime2" value="" class=" form-control " onblur="initFundInGrid()"/>
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
				</div>	
			</div>
		<table id="fundInGrid"></table>
	</div>

	

	<!-- 查看用户信息的模态框 -->
    <div class="modal fade" id="queryEnergyModal" tabindex="-1" role="dialog">

        <div class="modal-dialog" role="document">

			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title" id="myModalLabel">用户信息</h3>			
				</div>

				<div class="modal-body">
					<form id="updateNewsForm" action="/news/updatedNews" method="post" class="form-horizontal">
						<div class="form-group">
							<label for="newsTitle" class="col-sm-3 control-label">用户名：</label>
							<div class="col-sm-7">
								<input name="Qname" class="form-control" id="Qname" readonly="readonly" required="required"/>
							</div>						
						</div>

						<div class="form-group">
							<label for="newsTitle" class="col-sm-3 control-label">昵称：</label>
							<div class="col-sm-7">
								<input name="Qnickname" class="form-control" id="Qnickname" readonly="readonly" required="required"/>
							</div>						
						</div>
						<div class="form-group">
							<label for="newsTitle" class="col-sm-3 control-label">性别：</label>
							<div class="col-sm-7">
								<input name="Qgender" class="form-control" id="Qgender" readonly="readonly" required="required"/>
							</div>						
						</div>

						<div class="form-group">
							<label for="newsTitle" class="col-sm-3 control-label">生日：</label>
							<div class="col-sm-7">
								<input name="Qbirthday" class="form-control" id="Qbirthday" readonly="readonly" required="required"/>
							</div>						
						</div>
						<div class="form-group">
							<label for="newsTitle" class="col-sm-3 control-label">手机：</label>
							<div class="col-sm-7">
								<input name="Qmobile" class="form-control" id="Qmobile" readonly="readonly" required="required"/>
							</div>						
						</div>
						<div class="form-group">
							<label for="newsTitle" class="col-sm-3 control-label">邮箱：</label>
							<div class="col-sm-7">
								<input name="Qemail" class="form-control" id="Qemail" readonly="readonly" required="required"/>
							</div>						
						</div>
						<div class="form-group">
							<label for="newsTitle" class="col-sm-3 control-label">地址：</label>
							<div class="col-sm-7">
								<input name="Qaddress" class="form-control" id="Qaddress" readonly="readonly" required="required"/>
							</div>						
						</div>
						
						<div class="form-group">
							<label for="newsTitle" class="col-sm-3 control-label">邀请码：</label>
							<div class="col-sm-7">
								<input name="QinviteCode" class="form-control" id="QinviteCode" readonly="readonly" required="required"/>
							</div>						
						</div>		
																									
					</form>
				</div>					
			</div>					
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/systemAccount/system.js}"></script>
</body>

</html>

