<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>minerManager</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/momentjs/2.10.3/min/moment-with-locales.min.js}"></script>
    <link rel="stylesheet" type="text/css"  th:href="@{/js/bootstrap-table-master/dist/bootstrap-table.min.css}">  
	<script type="text/javascript" th:src="@{/js/bootstrap-table-master/dist/bootstrap-table.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap-table-master/dist/locale/bootstrap-table-zh-CN.min.js}"></script>   
    <link rel="stylesheet" type="text/css"  th:href="@{/js/bootstrap-table-master/dist/extensions/reorder-rows/bootstrap-table-reorder-rows.css}"> 
    <script type="text/javascript" th:src="@{/js/jquery.tablednd.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-table-master/dist/extensions/reorder-rows/bootstrap-table-reorder-rows.js}"></script>
    
   <style>
	.form-group span.required {
	color: red;
	font-size: 150%;
	} 
	
	table{ 
    word-wrap:break-word;
    word-break:break-all;
	}
	label{ 
    vertical-align:middle;
	}
	
    </style>
</head>

<body>

	<section class="content table-content">

		<form class="form-inline" >
			<!-- 工具栏 -->
			<div id="toolbar">

					<input type="button" value="新增矿机" style="background-color: #293846;width: 76px;height: 38px;outline:none;border:none;color: #ecf9ff" id="addBtn" data-toggle="modal" data-target="#addMinerModal"></input>
<!-- 					<input type="button" value="批量删除" id="deleteBtn" data-toggle="modal" data-target="#deleteNewsModal" class="btn btn-primary" onclick="deleteNews()"></input> -->
			</div>
		</form>
		
		<div class = "container">
			<table id="minerGrid"></table>
<!-- 			data-use-row-attr-func="true" data-reorderable-rows="true" -->
		</div>

	</section>

	<!-- 新增矿机的模态框-->

	<div class="modal fade" id="addMinerModal" tabindex="-1" role="dialog">

		<div class="modal-dialog" role="document">

			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title" id="myModalLabel">新增矿机</h3>
				</div>

				<div class="modal-body">

					<form id="addMinerForm" action="/miner/addMiner" method="post" class="form-horizontal">

						<div class="form-group">
							<label for="question" class="col-sm-3 control-label">矿机名：</label><span class="required">*</span>
							<div class="col-sm-7">
								<input name="minerName" class="form-control" id="minerName" required="required"  placeholder="请输入矿机名" onblur="checkName()"/>
								<span id="msg_minerName"></span>
							</div>						
						</div>												
						
						<div class="form-group">
							<label for="question" class="col-sm-3 control-label">矿机单价：</label><span class="required">*</span>
							<div class="col-sm-7">
								<input name="minerPrice" class="form-control" id="minerPrice" required="required"  placeholder="请输入矿机单价，要求正数" onblur="checkPrice()"/>
								<span id="msg_minerPrice"></span>
							</div>						
						</div>
						
						<div class="form-group">
							<label for="question" class="col-sm-3 control-label">矿机等级：</label><span class="required">*</span>
							<div class="col-sm-7">
								<select id="minerGrade" class="form-control" name="minerGrade" required="required">
			                    <option>请选择</option>
			                    <option>1</option>
			                    <option>2</option>
			                    <option>3</option>			 
			               		 </select>
							</div>						
						</div>
						
						<div class="form-group">
							<label for="question" class="col-sm-3 control-label">算力奖励：</label><span class="required">*</span>
							<div class="col-sm-7">
								<input name="minerPower" class="form-control" id="minerPower" required="required"  placeholder="请输入算力奖励，要求正数" onblur="checkPower()"/>
								<span id="msg_minerPower"></span>
							</div>						
						</div>
						
						<div class="form-group">
							<label for="question" class="col-sm-3 control-label">矿机寿命：</label><span class="required">*</span>
							<div class="col-sm-7">
								<input name="minerPeriod" class="form-control" id="minerPeriod" required="required"  placeholder="请输入矿机寿命，要求正整数" onblur="checkPeriod()"/>
								<span id="msg_minerPeriod"></span>
							</div>						
						</div>
						
						<div class="form-group">
							<label for="question" class="col-sm-3 control-label">矿机描述：</label>
							<div class="col-sm-7">
								<input name="minerDescription" class="form-control" id="minerDescription" required="required"  placeholder="请输入矿机描述" />
							</div>						
						</div>
																																										
					</form>
				</div>

				<div class="modal-footer">
					<button type="button" id="conf" class="btn btn-default" onclick="addMiner()">提交</button>
					<button type="button" class="btn btn-default" data-dismiss="modal" onclick="resetAddModal()">取消</button>
				</div>

			</div>
		</div>
	</div>
		
	<!-- 提示信息 -->
	<div class="modal fade" id="Tip" role="dialog">

		<div class="modal-dialog" role="document">

			<div class="modal-content">

				<div class="modal-header">
					<h3>提示</h3>
				</div>

				<div class="modal-body" align="center">
					<h4 id="tipContent">新增成功</h4>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
				</div>

			</div>

		</div>

	</div>

	<!-- 编辑矿机信息的模态框 -->
    <div class="modal fade" id="updateMinerModal" tabindex="-1" role="dialog">

        <div class="modal-dialog" role="document">

			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title" id="ModalLabel">修改矿机</h3>			
				</div>

				<div class="modal-body">
					<form id="updateMinerForm" action="/miner/updatedMiner" method="post" class="form-horizontal">
						<input  style="display:none" type="hidden" name="EminerCode" id="EminerCode">

						<div class="form-group">
							<label for="question" class="col-sm-3 control-label">矿机名：</label><span class="required">*</span>
							<div class="col-sm-7">
								<input name="EminerName" class="form-control" id="EminerName" required="required" onblur="EcheckName()"/>
								<span id="msg_EminerName"></span>
							</div>						
						</div>												
						
						<div class="form-group">
							<label for="question" class="col-sm-3 control-label">矿机单价：</label><span class="required">*</span>
							<div class="col-sm-7">
								<input name="EminerPrice" class="form-control" id="EminerPrice" required="required" onblur="EcheckPrice()"/>
								<span id="msg_EminerPrice"></span>
							</div>						
						</div>
						
						<div class="form-group">
							<label for="question" class="col-sm-3 control-label">矿机等级：</label><span class="required">*</span>
							<div class="col-sm-7">
								<select id="EminerGrade" class="form-control" name="EminerGrade" required="required">
			                    <option>请选择</option>
			                    <option>1</option>
			                    <option>2</option>
			                    <option>3</option>			 
			               		 </select>
							</div>						
						</div>
						
						<div class="form-group">
							<label for="question" class="col-sm-3 control-label">算力奖励：</label><span class="required">*</span>
							<div class="col-sm-7">
								<input name="EminerPower" class="form-control" id="EminerPower" required="required" onblur="EcheckPower()"/>
								<span id="msg_EminerPower"></span>
							</div>						
						</div>
						
						<div class="form-group">
							<label for="question" class="col-sm-3 control-label">矿机寿命：</label><span class="required">*</span>
							<div class="col-sm-7">
								<input name="EminerPeriod" class="form-control" id="EminerPeriod"  required="required" onblur="EcheckPeriod()"/>
								<span id="msg_EminerPeriod"></span>
							</div>						
						</div>
						
						<div class="form-group">
							<label for="question" class="col-sm-3 control-label">矿机描述：</label>
							<div class="col-sm-7">
								<input name="EminerDescription" class="form-control" id="EminerDescription"  required="required"/>
							</div>						
						</div>
																											
					</form>
				</div>

				<div class="modal-footer">
					<button type="button" id="saveQuestion" class="btn btn-default" onclick="updateMiner()"><span aria-hidden="true">保存</span></button>
				</div>
						
			</div>
					
		</div>
	</div>
	
	<script type="text/javascript" th:src="@{/js/miner/minerManage.js}"></script>
	<script type="text/javascript" th:src="@{/js/miner/minerManageTable.js}"></script>			
</body>
</html>

