<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewsManager</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/momentjs/2.10.3/min/moment-with-locales.min.js}"></script>
    <link rel="stylesheet" type="text/css"  th:href="@{/js/bootstrap-table-master/dist/bootstrap-table.min.css}">  
    <script type="text/javascript" th:src="@{/js/bootstrap-table-master/dist/bootstrap-table.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/QA/QAManage.js}"></script>
	<script type="text/javascript" th:src="@{/js/QA/QAManageTable.js}"></script>	
   
   
   <style>
	.input-group .datetimepicker{
	z-index:100000;
	}
	.form-group span.required {
	color: red;
	font-size: 150%;
	} 
	
	table{ 
    word-wrap:break-word;
    word-break:break-all;
    }
	
    </style>
</head>

<body>

	<section class="content table-content">

		<form class="form-inline" >
			<!-- 工具栏 -->
			<div id="toolbar">

					<input type="button" value="新增问题" style="background-color: #293846;width: 76px;height: 38px;outline:none;border:none;color: #ecf9ff" id="addBtn" data-toggle="modal" data-target="#addQuestionModal"></input>
<!-- 					<input type="button" value="批量删除" id="deleteBtn" data-toggle="modal" data-target="#deleteNewsModal" class="btn btn-primary" onclick="deleteNews()"></input> -->
			</div>
		</form>
		
		<div class = "container">
			<table id="questionGrid"></table>
		</div>

	</section>

	<!-- 新增问题的模态框-->

	<div class="modal fade" id="addQuestionModal" tabindex="-1" role="dialog">

		<div class="modal-dialog" role="document">

			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title" id="myModalLabel">新增问题</h3>
				</div>

				<div class="modal-body">

					<form id="addQuestionForm" action="/Question/addQuestion" method="post" class="form-horizontal">

						<div class="form-group">
							<label for="questionContent" class="col-sm-3 control-label">问题：</label>
							<div class="col-sm-8">
								<textarea name="questionContent" class="form-control" id="questionContent" required="required"  placeholder="请输入问题" /></textarea>
								<span id="msg_questionContent"></span>
							</div>						
						</div>

						
						<div class="form-group">
							<label for="choiceContent1" class="col-sm-3 control-label">选项1：</label>
							<div class="col-sm-8">
 								<textarea name="choiceContent1" class="col-sm-4 form-control" id="choiceContent1" required="required" placeholder="请输入选项1"/></textarea>
 								<span id="msg_choiceContent1"></span> 				
							</div>
						</div>
						
						
						<div class="form-group">
							<label for="choiceContent2" class="col-sm-3 control-label">选项2：</label>
							<div class="col-sm-8">
								<textarea name="choiceContent2" class="col-sm-4 form-control" id="choiceContent2" required="required" placeholder="请输入选项2"/></textarea>
								<span id="choiceContent2_span"></span>
							</div>
						</div>
						
						
						<div class="form-group">
							<label for="answer" class="col-sm-3 control-label">答案：</label>
							<div class="col-sm-8">
								<textarea name="answer" class="col-sm-4 form-control" id="answer" required="required" placeholder="请输入答案"/></textarea>
								<span id="answer_span"></span>
							</div>
						</div>
						
					
					</form>
				</div>

				<div class="modal-footer">
					<button type="button" id="conf" class="btn btn-default" onclick="addQuestion()">提交</button>
					<button type="button" class="btn btn-default" data-dismiss="modal" onclick="resetAddModal()">取消</button>
				</div>

			</div>
		</div>
	</div>
		
	<!-- 提示信息 -->
	<div class="modal fade" id="Tip" role="dialog">

		<div class="modal-dialog" role="document">

			<div class="modal-content">

				<div class="modal-header">
					<h3>提示</h3>
				</div>

				<div class="modal-body" align="center">
					<h4 id="tipContent">新增成功</h4>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
				</div>

			</div>

		</div>

	</div>
			
	
	<!-- 查看新闻的模态框 -->
    <div class="modal fade" id="qureyQuestionModal" tabindex="-1" role="dialog">

        <div class="modal-dialog" role="document">

			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title" id="myModalLabel">查看问题</h3>			
				</div>

				<div class="modal-body">
					<form id="qureyQuestionForm" action="/question/qureyQuestion" method="post" class="form-horizontal">
						<input  style="display:none" type="hidden" name="QquestionId" id="QquestionId">
						<div class="form-group">
							<label for="questionContent" class="col-sm-3 control-label">问题：</label>
							<div class="col-sm-8">
								<textarea name="QquestionContent" class="form-control" id="QquestionContent" required="required"  readonly="readonly" onblur="EcheckQuestion()" /></textarea>
								<span id="msg_QquestionContent"></span> 
							</div>						
						</div>
						
						<div class="form-group">
							<label for="choiceContent1" class="col-sm-3 control-label">A：</label>
							<div class="col-sm-8">
								<textarea name="QchoiceContent1" class="form-control" id="QchoiceContent1" readonly="readonly" required="required" /></textarea>
								<span id="msg_QchoiceContent1"></span> 
							</div>						
						</div>
						
						<div class="form-group">
							<label for="choiceContent2" class="col-sm-3 control-label">B：</label>
							<div class="col-sm-8">
								<textarea name="QchoiceContent2" class="form-control" id="QchoiceContent2" readonly="readonly" required="required"/></textarea>
							</div>						
						</div>
						
						<div class="form-group">
							<label for="answer" class="col-sm-3 control-label">答案：</label>
							<div class="col-sm-8">
								<textarea name="Qanswer" class="form-control" id="Qanswer" readonly="readonly" required="required"/></textarea>
							</div>						
						</div>
																			
					</form>
				</div>						
			</div>					
		</div>
	</div>

	<!-- 编辑新闻的模态框 -->
    <div class="modal fade" id="updateQuestionModal" tabindex="-1" role="dialog">

        <div class="modal-dialog" role="document">

			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title" id="myModalLabel">修改问题</h3>			
				</div>

				<div class="modal-body">
					<form id="updateQuestionForm" action="/question/updatedQuestion" method="post" class="form-horizontal">
						<input  style="display:none" type="hidden" name="EquestionId" id="EquestionId">
						<div class="form-group">
							<label for="questionContent" class="col-sm-3 control-label">问题：</label>
							<div class="col-sm-8">
								<textarea name="EquestionContent" class="form-control" id="EquestionContent" required="required"  onblur="EcheckQuestion()" /></textarea>
								<span id="msg_EquestionContent"></span> 
							</div>						
						</div>
						
						<div class="form-group">
							<label for="choiceContent1" class="col-sm-3 control-label">A：</label>
							<div class="col-sm-8">
								<textarea name="EchoiceContent1" class="form-control" id="EchoiceContent1" required="required" /></textarea>
								<span id="msg_EchoiceContent1"></span> 
							</div>						
						</div>
						
						<div class="form-group">
							<label for="choiceContent2" class="col-sm-3 control-label">B：</label>
							<div class="col-sm-8">
								<textarea name="EchoiceContent2" class="form-control" id="EchoiceContent2" required="required"/></textarea>
							</div>						
						</div>
						
						<div class="form-group">
							<label for="answer" class="col-sm-3 control-label">答案：</label>
							<div class="col-sm-8">
								<textarea name="Eanswer" class="form-control" id="Eanswer" required="required"/></textarea>
							</div>						
						</div>
																			
					</form>
				</div>

				<div class="modal-footer">
					<button type="button" data-dismiss="modal" id="saveQuestion" aria-label="Close" class="btn btn-default" onclick="updateQuestion()"><span aria-hidden="true">保存</span></button>
				</div>
						
			</div>
					
		</div>
	</div>
			
</body>

</html>

