<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewsManager</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/momentjs/2.10.3/min/moment-with-locales.min.js}"></script>
    <link rel="stylesheet" type="text/css"  th:href="@{/js/bootstrap-table-master/dist/bootstrap-table.min.css}">  
	<script type="text/javascript" th:src="@{/js/bootstrap-table-master/dist/bootstrap-table.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap-table-master/dist/locale/bootstrap-table-zh-CN.min.js}"></script>	
   
   
   <style>
	.input-group .datetimepicker{
	z-index:100000;
	}
	.form-group span.required {
	color: red;
	font-size: 150%;
	} 
	
	table{ 
    word-wrap:break-word;
    word-break:break-all;
	}
	label{ 
    vertical-align:middle;
	}
	
    </style>
</head>

<body>

	<section class="content table-content">

		<form class="form-inline" >
			<!-- 工具栏 -->
			<div id="toolbar">

					<input type="button" value="新增问题" style="background-color: #293846;width: 76px;height: 38px;outline:none;border:none;color: #ecf9ff" id="addBtn" data-toggle="modal" data-target="#addQuestionModal"></input>
<!-- 					<input type="button" value="批量删除" id="deleteBtn" data-toggle="modal" data-target="#deleteNewsModal" class="btn btn-primary" onclick="deleteNews()"></input> -->
			</div>
		</form>
		
		<div class = "container">
			<table id="questionGrid"></table>
		</div>

	</section>

	<!-- 新增问题的模态框-->

	<div class="modal fade" id="addQuestionModal" tabindex="-1" role="dialog">

		<div class="modal-dialog" role="document">

			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title" id="myModalLabel">新增问题</h3>
				</div>

				<div class="modal-body">

					<form id="addQuestionForm" action="/Question/addQuestion" method="post" class="form-horizontal">

						<div class="form-group">
							<label for="question" class="col-sm-3 control-label">问题内容</label><span class="required">*</span>
							<div class="col-sm-8">
								<textarea name="question" class="form-control" id="question" required="required"  maxlength="40" placeholder="问题长度为1~40个字符"/></textarea>
								<span id="msg_question"></span>
							</div>						
						</div>

						
						<div class="form-group">
							<label for="A" class="col-sm-3 control-label">选项A 
								<input type="radio" name="radio" id="A" value="A">
							</label><span class="required">*</span>

							<div class="col-sm-8">
 								<textarea name="choiceA" class="col-sm-4 form-control" id="choiceA" required="required" maxlength="20" placeholder="选项A长度为1~20个字符"/></textarea>
 								<span id="msg_choiceA"></span> 				
							</div>
						</div>						
						
						<div class="form-group">
							<label for="B" class="col-sm-3 control-label">选项B 
								<input type="radio" name="radio" id="B"  value="B" >
							</label><span class="required">*</span>
							<div class="col-sm-8">
								<textarea name="choiceB" class="col-sm-4 form-control" id="choiceB" required="required" maxlength="20" placeholder="选项B长度为1~20个字符"/></textarea>
								<span id="msg_choiceB"></span>
							</div>
						</div>
						
						<div class="form-group">
							<label for="C" class="col-sm-3 control-label">选项C 
								<input type="radio" name="radio" id="C"  value="C" >
							</label><span class="required">*</span>
							<div class="col-sm-8">
								<textarea name="choiceC" class="col-sm-4 form-control" id="choiceC" required="required" maxlength="20" placeholder="选项C长度为1~20个字符"/></textarea>
								<span id="msg_choiceC"></span>
							</div>
						</div>	
																
						<input name="choiceRight" class="form-control" id="choiceRight" required="required" type="hidden"/></input>
													
					</form>
				</div>

				<div class="modal-footer">
					<button type="button" id="conf" class="btn btn-default" onclick="addQuestion()">提交</button>
					<button type="button" class="btn btn-default" data-dismiss="modal" onclick="resetAddModal()">取消</button>
				</div>

			</div>
		</div>
	</div>
		
	<!-- 提示信息 -->
	<div class="modal fade" id="Tip" role="dialog">

		<div class="modal-dialog" role="document">

			<div class="modal-content">

				<div class="modal-header">
					<h3>提示</h3>
				</div>

				<div class="modal-body" align="center">
					<h4 id="tipContent">新增成功</h4>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
				</div>

			</div>

		</div>

	</div>

	<!-- 编辑新闻的模态框 -->
    <div class="modal fade" id="updateQuestionModal" tabindex="-1" role="dialog">

        <div class="modal-dialog" role="document">

			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title" id="ModalLabel">修改问题</h3>			
				</div>

				<div class="modal-body">
					<form id="updateQuestionForm" action="/question/updatedQuestion" method="post" class="form-horizontal">
						<input  style="display:none" type="hidden" name="EtopicId" id="EtopicId">
						<div class="form-group">
							<label for="question" class="col-sm-3 control-label">问题内容：</label><span class="required">*</span>
							<div class="col-sm-8">
								<textarea name="Equestion" class="form-control" id="Equestion" required="required"  maxlength="40" onblur="EcheckQuestion()" /></textarea>
								<span id="msg_Equestion"></span> 
							</div>						
						</div>
						
						<div class="form-group">
							<label for="A1" class="col-sm-3 control-label">选项A 
								<input type="radio" name="radio1" id="A1"  value="A">
							</label><span class="required">*</span>
							<div class="col-sm-8">
								<textarea name="EchoiceA" class="form-control" id="EchoiceA" required="required" maxlength="20" onblur="EcheckChoiceA()"/></textarea>
								<span id="msg_EchoiceA"></span> 
							</div>						
						</div>
						
						<div class="form-group">
							<label for="B1" class="col-sm-3 control-label">选项B 
								<input type="radio" name="radio1" id="B1"  value="B">
							</label><span class="required">*</span>
							<div class="col-sm-8">
								<textarea name="EchoiceB" class="form-control" id="EchoiceB" required="required" maxlength="20" onblur="EcheckChoiceB()"/></textarea>
								<span id="msg_EchoiceB"></span> 
							</div>						
						</div>

						<div class="form-group">
							<label for="C1" class="col-sm-3 control-label">选项C 
								<input type="radio" name="radio1" id="C1"  value="C">
							</label><span class="required">*</span>
							<div class="col-sm-8">
								<textarea name="EchoiceC" class="form-control" id="EchoiceC" required="required" maxlength="20" onblur="EcheckChoiceC()"/></textarea>
								<span id="msg_EchoiceC"></span>  
							</div>						
						</div>						
						
						<input name="EchoiceRight" class="form-control" id="EchoiceRight" required="required" type="hidden"/></input>
																											
					</form>
				</div>

				<div class="modal-footer">
					<button type="button" data-dismiss="modal" id="saveQuestion" aria-label="Close" class="btn btn-default" onclick="updateQuestion()"><span aria-hidden="true">保存</span></button>
				</div>
						
			</div>
					
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/QA/QAManage.js}"></script>
	<script type="text/javascript" th:src="@{/js/QA/QAManageTable.js}"></script>

<script type="text/javascript">	
$(":radio").click(function(){
	var choiceRight=$(this).val();
	$('#choiceRight').val(choiceRight);
	$('#EchoiceRight').val(choiceRight);
});
	
</script>			
</body>
</html>

